@import "~bootstrap-icons/font/bootstrap-icons.css";

.full-page-bg {
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;
  width: 100%;
  height: 92dvh;
  background-image: url("../../../../assets/images/background2.jpg");
  background-size: cover;
  background-position: center;
}

.page-content {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 15px;
    background-color: rgba(131, 131, 131, 0.3);
    border: 1px solid #ccc;
}

.title-page{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 10%;
}

.title-page p{
    font-size: 30px;
    font-weight: 900;
    color: #002f56;
    font-family: 'Poppins', sans-serif;
    align-self: center;
    margin-bottom: 2%;
}

.personal-info{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90%;
}


.left-side{
    display: flex;
    flex-direction: column;
    width: 49%;
    height: 100%;
}

.separator{
    height: 98%; 
    background-color: #000;
    width: 1px;  
    margin-bottom: 2%;
}

.picture-and-name{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
}

.picture-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 38%;
    margin: 2%;
    height: auto;
}

.profile-pic { 
  width: 100%;
  height: auto;
  color: transparent;
  transition: all .3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  
  input {
    display: none;
  }
  
  img {
    position: absolute;
    object-fit: cover;
    width: 200px;
    height: 200px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.65);
    border-radius: 50%;
    border: 2px solid #002f56;
    z-index: 0;
  }
  
  .-label {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 8px;
    height: 200px;
    width: 200px;
  }
  
  &:hover {
    .-label {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0,0,0,.8);
      z-index: 1000;
      color: white;
      transition: background-color .2s ease-in-out;
      border-radius: 50%;
    }
  }
  
  span {
    display: inline-flex;
    padding: .2em;
    height: 2em;
    font-family: 'Poppins' , 'sans-serif';
    font-weight: bold;
  }

}

.picture-container p{
    font-family: 'Poppins', 'sans-serif';
    color: #002f56;
    margin-top: 5px;
    font-weight: 700;
    font-size: 24px;
}

.picture-container h6{
    font-family: 'Poppins', 'sans-serif';
    color: #464646;
    font-weight: 400;
    font-size: 12px;
}

.email-andname{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
}

.name-surname{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 94%;
    margin: 3%;
    margin-top: 40px;

    .form__group {
        position: relative;
        padding: 12px 0 0;
        width: 45%;
        margin-right: 5%;
    }
    
    .form__field {
        font-family: 'Poppins','sans-serif' !important;
        width: 90%;
        border: 0;
        border-bottom: 1px solid #9b9b9b;
        outline: 0;
        font-size: 1.3rem;
        color: rgb(83, 83, 223);
        padding: 7px 0;
        background: transparent;
        transition: border-color 0.2s;
    
    &::placeholder {
        color: transparent;
    }
    
    &:placeholder-shown ~ .form__label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
    }
    }
    
    .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: #838383;
        font-family: 'Poppins', sans-serif;
    }
    
    .form__field:focus {
    ~ .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: rgb(83, 83, 223);
        font-weight:700;    
    }
        padding-bottom: 6px;  
        font-weight: 700;
        border-width: 3px;
        border-image: linear-gradient(to right, rgb(83, 83, 223),rgb(157, 157, 216));
        border-image-slice: 1;
    }
    /* reset input */
    .form__field{
        &:required,&:invalid { box-shadow:none; }
    }

    .edit-icon {
        position: absolute;
        right: 10%;
        top: 70%;
        transform: translateY(-50%);
        cursor: pointer;
        color: #838383;
        transition: color 0.2s;
    }
    .edit-icon:hover{
        color: rgb(83, 83, 223);
    }
    .form__group:focus-within .edit-icon {
        color: rgb(83, 83, 223);
    }
    
    
}

.email-input{
    display: flex;
    width: 94%;
    margin: 3%;
    margin-top: 25px;

    .form__group {
        position: relative;
        padding: 12px 0 0;
        margin: 0% 0%;
        width: 100%;
    }
    
    .form__field {
        font-family: 'Poppins','sans-serif' !important;
        width: 90%;
        border: 0;
        border-bottom: 1px solid #9b9b9b;
        outline: 0;
        font-size: 1.3rem;
        color: rgb(83, 83, 223);
        padding: 7px 0;
        background: transparent;
        transition: border-color 0.2s;
    
    &::placeholder {
        color: transparent;
    }
    
    &:placeholder-shown ~ .form__label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
    }
    }
    
    .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: #838383;
        font-family: 'Poppins', sans-serif;
    }
    
    .form__field:focus {
    ~ .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: rgb(83, 83, 223);
        font-weight:700;    
    }
        padding-bottom: 6px;  
        font-weight: 700;
        border-width: 3px;
        border-image: linear-gradient(to right, rgb(83, 83, 223),rgb(157, 157, 216));
        border-image-slice: 1;
    }
    /* reset input */
    .form__field{
        &:required,&:invalid { box-shadow:none; }
    } 
}

.phone-input{
    display: flex;
    width: 94%;
    margin: 3%;
    margin-top: 25px;

    .form__group {
        position: relative;
        padding: 12px 0 0;
        margin: 0% 0%;
        width: 100%;
    }
    
    .form__field {
        font-family: 'Poppins','sans-serif' !important;
        width: 90%;
        border: 0;
        border-bottom: 1px solid #9b9b9b;
        outline: 0;
        font-size: 1.3rem;
        color: rgb(83, 83, 223);
        padding: 7px 0;
        background: transparent;
        transition: border-color 0.2s;
    
    &::placeholder {
        color: transparent;
    }
    
    &:placeholder-shown ~ .form__label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
    }
    }
    
    .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: #838383;
        font-family: 'Poppins', sans-serif;
    }
    
    .form__field:focus {
    ~ .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: rgb(83, 83, 223);
        font-weight:700;    
    }
        padding-bottom: 6px;  
        font-weight: 700;
        border-width: 3px;
        border-image: linear-gradient(to right, rgb(83, 83, 223),rgb(157, 157, 216));
        border-image-slice: 1;
    }
    /* reset input */
    .form__field{
        &:required,&:invalid { box-shadow:none; }
    }

    .edit-icon {
        position: absolute;
        right: 10%;
        top: 70%;
        transform: translateY(-50%);
        cursor: pointer;
        color: #838383;
        transition: color 0.2s;
    }
    .edit-icon:hover{
        color: rgb(83, 83, 223);
    }
    .form__group:focus-within .edit-icon {
        color: rgb(83, 83, 223);
    }
}


.biography{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;

    .biography__group {
        position: relative;
        padding: 20px 0 0;
        margin-bottom: 4%;
        margin-top: 2%;
        margin-left: 7%;
        margin-right: 7%;
        width: 86%;
        height: 94%;
      }
    
    .biography__field {
        font-family: 'Poppins' , 'sans-serif';
        width: 100%;
        height: 100%;
        border-bottom: 1px solid #9b9b9b;
        outline: 0;
        font-size: 1.3rem;
        color: rgb(83, 83, 223);
        padding: 7px 0;
        background: transparent;
        transition: border-color 0.2s;
        resize: none;
      
        &::placeholder {
          color: transparent;
        }
      
        &:placeholder-shown ~ .form__label {
          font-size: 1.3rem;
          cursor: text;
          top: 20px;
        }
      }
      
      
        .biography__label {
          position: absolute;
          top: -4px;
          display: block;
          transition: 0.2s;
          font-size: 1rem;
          color: #838383;
          font-family: 'Poppins', sans-serif;
        }
        
        .biography__field:focus {
          ~ .biography__label {
            position: absolute;
            top: -4px;
            display: block;
            transition: 0.2s;
            font-size: 1rem;
            color: rgb(83, 83, 223);
            font-weight:700;    
          }
          padding-bottom: 6px;  
          font-weight: 700;
          border-width: 3px;
          border-image: linear-gradient(to right, rgb(83, 83, 223),rgb(157, 157, 216));
          border-image-slice: 1;
        }
        /* reset input */
        .biography__field{
          &:required,&:invalid { box-shadow:none; }
        }
    
    
        .edit-icon {
            position: absolute;
            right: 2%;
            top: 92%;
            transform: translateY(-50%);
            cursor: pointer;
            color: #838383;
            transition: color 0.2s;
            font-size: 20px;
        }
        .edit-icon:hover{
            color: rgb(83, 83, 223);
        }
        .biography__group:focus-within .edit-icon {
            color: rgb(83, 83, 223);
        }

        .emoji-picker {
            position: absolute;
            right: 10%;
            top: 92%;
            transform: translateY(-50%);
            cursor: pointer;
            color: #838383;
            transition: color 0.2s;
            font-size: 20px;
        }
        .emoji-picker:hover{
            color: rgb(83, 83, 223);
        }
        .biography__group:focus-within .emoji-picker {
            color: rgb(83, 83, 223);
        }



        .emoji-mart{
            position: absolute;
            left: 100%;
            bottom: 0%;  
            z-index: 1000;       
        }


}


.right-side{
    display: flex;
    flex-direction: column;
    width: 51%;
    height: 100%;
}

.birthdate{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 38px;
}
     
.birthdate__group {
    position: relative;
    padding: 20px 0 0;
    margin: 0% 0%;
    width: 100%;
}

.birthdate__field {
    font-family: 'Poppins','sans-serif' !important;
    width: 90%;
    border: 0;
    border-bottom: 1px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: rgb(83, 83, 223);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    cursor: pointer;

&::placeholder {
    color: transparent;
}

&:placeholder-shown ~ .birthdate__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}
}

.birthdate__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #838383;
    font-family: 'Poppins', sans-serif;
}

.birthdate__field:focus {
~ .birthdate__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: rgb(83, 83, 223);
    font-weight:700;    
}
    padding-bottom: 6px;  
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, rgb(83, 83, 223),rgb(157, 157, 216));
    border-image-slice: 1;
}
/* reset input */
.birthdate__field{
    &:required,&:invalid { box-shadow:none; }
}

.address{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: 7%;
    margin-right: 13%;
    margin-top: 7%;
}

.address p{
    font-family: 'Poppins', 'sans-serif';
    font-size: 20px;
    color: #002f56;
}

.city-street{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 92%;
    margin: 4%;

    .street__group {
        position: relative;
        padding: 20px 0 0;
        width: 50%;
    }
    
    .street__field {
        font-family: 'Poppins','sans-serif' !important;
        width: 100%;
        border: 0;
        border-bottom: 1px solid #9b9b9b;
        outline: 0;
        font-size: 1.3rem;
        color: rgb(83, 83, 223);
        padding: 7px 0;
        background: transparent;
        transition: border-color 0.2s;
    
    &::placeholder {
        color: transparent;
    }
    
    &:placeholder-shown ~ .street__label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
    }
    }
    
    .street__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: #838383;
        font-family: 'Poppins', sans-serif;
    }
    
    .street__field:focus {
    ~ .street__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: rgb(83, 83, 223);
        font-weight:700;    
    }
        padding-bottom: 6px;  
        font-weight: 700;
        border-width: 3px;
        border-image: linear-gradient(to right, rgb(83, 83, 223),rgb(157, 157, 216));
        border-image-slice: 1;
    }
    /* reset input */
    .street__field{
        &:required,&:invalid { box-shadow:none; }
    }

    .edit-iconn {
        position: absolute;
        right: 0%;
        top: 70%;
        transform: translateY(-50%);
        cursor: pointer;
        color: #838383;
        transition: color 0.2s;
    }
    .edit-iconn:hover{
        color: rgb(83, 83, 223);
    }
    .street__group:focus-within .edit-iconn {
        color: rgb(83, 83, 223);
    }


    .city__group {
        position: relative;
        padding: 20px 0 0;
        width: 45%;
        margin-left: 5%;
    }
    
    .city__field {
        font-family: 'Poppins','sans-serif' !important;
        width: 95%;
        border: 0;
        border-bottom: 1px solid #9b9b9b;
        outline: 0;
        font-size: 1.3rem;
        color: rgb(83, 83, 223);
        padding: 7px 0;
        background: transparent;
        transition: border-color 0.2s;
    
    &::placeholder {
        color: transparent;
    }
    
    &:placeholder-shown ~ .city__label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
    }
    }
    
    .city__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: #838383;
        font-family: 'Poppins', sans-serif;
    }
    
    .city__field:focus {
    ~ .city__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: rgb(83, 83, 223);
        font-weight:700;    
    }
        padding-bottom: 6px;  
        font-weight: 700;
        border-width: 3px;
        border-image: linear-gradient(to right, rgb(83, 83, 223),rgb(157, 157, 216));
        border-image-slice: 1;
    }
    /* reset input */
    .city__field{
        &:required,&:invalid { box-shadow:none; }
    }

    .edit-icon {
        position: absolute;
        right: 5%;
        top: 70%;
        transform: translateY(-50%);
        cursor: pointer;
        color: #838383;
        transition: color 0.2s;
    }
    .edit-icon:hover{
        color: rgb(83, 83, 223);
    }
    .city__group:focus-within .edit-icon {
        color: rgb(83, 83, 223);
    }
    
}


.button__container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 80%;
    margin: 10%;
}

.update-btn{
    margin-right: 10%;
    font-size: 20px;
    padding: 15px;

}
