/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body {
     margin: 0; 
     font-family: 'Poppins', 'sans-serif';

}

h1,h2,h3,h4,h5,h6,p{
    font-family: 'Poppins', 'sans-serif';
}

.btn-action {
    height: auto;
    padding: 10px;
    background-color: rgb(224, 62, 62);
    color: white;
    border-radius: 15px;
    font-family: 'Poppins', 'sans-serif';
    transition: background-color 0.4s ease-in-out;
}

.btn-action:hover{
    background-color: rgb(136, 11, 11);
    cursor: pointer;
}

@import '@ctrl/ngx-emoji-mart/picker';