@import "~bootstrap-icons/font/bootstrap-icons.css";

.full-navbar{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.profile-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
}

.navbar-inside{
    width: 94%;
    height: 97%;
    margin: 3%;
    background-color: white;
    border-radius: 25px;
}


.profile-pic{
    width: 100px;
    height: 100px;
    border:2px solid black;
    border-radius: 50%;
    cursor: pointer;
}

.profile-pic img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.profile-content p{
    margin-top: 2%;
    font-size: 20px;
}


.buttons{
    display: flex;
    flex-direction: column;

    align-items: center;
    height: 60%;
    gap: 5px;
}

.logutbutton{
    background-color: rgb(224, 62, 62);
    color: white;
    border-radius: 10px;
    width: 50%;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 2%;
}

.logutbutton:hover{
    background-color: rgb(136, 11, 11);
}

.logutbutton p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
    font-size: 15px;
}

.outside{
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.active-background {
    background-color:  rgb(83, 83, 223) !important;
}

.info-board{
    width: 100%;
    background-color: rgb(122, 122, 197);
    cursor: pointer;
    height: auto;
    margin: 0;
    padding: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.info-board p{
    margin-left: 10%;
    padding: 10% 5%;
    font-size: 22px;
    height: 100%;
}


.info-board:hover{
    background-color: rgb(83, 83, 223);
    transition: 1s;
}

.create-event{
    width: 100%;
    background-color: rgb(122, 122, 197);
    cursor: pointer;
    height: auto;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
}

.create-event p{
    margin-left: 10%;
    padding: 10% 5%;
    font-size: 22px;
    height: 100%;
}


.create-event:hover{
    background-color: rgb(83, 83, 223);
    transition: 1s;
}

.create-event img{
    width: 24px;
    height: 24px;
}


.info-board, .info-board * {
    margin: 0;
    padding: 0;
}

.create-event, .create-event * {
    margin: 0;
    padding: 0;
}