@import "~bootstrap-icons/font/bootstrap-icons.css";

.prijava-button {
  width: 8dvw;
  margin-left: 3%;
  margin-right: 2%;
  font-size: 15px;
  font-weight: 700;
}

.navbar-content {
  background-color: var(--primary-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8dvh;
  /*position: absolute;*/
  padding: 10px;
  z-index: 2000;
}

.navbar-element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.navbar-element-nameapp img {
  width: 260px;
  height: 50px;
  transition: transform 0.3s ease;
}

.navbar-element-nameapp img:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.navbar-element-nameapp p {
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5%;
}

.navbar-button {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 50%;
  height: auto;
}

.navbar-button img {
  height: 40px;
  width: 5px;
}

/* @media (max-width: 850px) {
  .navbar-button {
    display: none;
  }

  .navbar-dropdown {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .navbar-dropdown select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }
} */

.navbar-item {
  display: flex;
  height: 100%;
  width: auto;
  margin-left: 5px;
  margin-right: 5px;
}

.navbar-item p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  margin: 5px;
  color: var(--text-on-primary-color);
  font-weight: 700;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  transition: transform 0.3s ease;
}

.navbar-item p:hover {
  color: var(--secondary-color);
  cursor: pointer;
  /* border-bottom: 2px solid #5271ff; */
  transform: scale(1.07);
}

/* @media (max-width: 1170px) {
  .home-content {
    flex-direction: column;
    align-items: center;
  }

  .description-app,
  .animation {
    width: 100%;
    text-align: center;
  }

  .description-app p {
    margin-right: 0;
  }

  .navbar-item p {
    font-size: 18px;
  }
} */

.dropdown-content {
  display: flex;
  flex-direction: row;
  height: auto;
  margin-right: 3%;
}

.dropdown-contentt {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 80%;
  right: 5%;
  background-color: rgba(90, 90, 90, 0.9);
  border-radius: 15px;
  padding: 10px;
  z-index: 1000;
}

.dropdown-contentt.show {
  display: flex;
}

.burger-icon {
  font-size: 30px;
  cursor: pointer;
  color: var(--text-on-primary-color);
}

.pic-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
  cursor: pointer;
  margin-left: 30px;
  margin-right: 30px;
}

.pic-image img {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  object-fit: cover;

  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.65);
  border: 1px solid white;
  cursor: pointer;
}

.pic-image img:hover {
  transform: scale(1.07);
  transition: 0.5s;
}

.pic-image i {
  font-size: 20px;
  color: var(--text-on-primary-color);
  font-weight: 700;
  margin-left: 5px;
  cursor: pointer;
}

.pic-image:hover img {
  transform: scale(1.07);
  transition: 0.5s;
}

.pic-image:hover i {
  color: var(--secondary-color);
}

.profile-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 75px;
  right: 3px;
  background-color: var(--background-color);
  border-radius: 5px;
  border: 2px solid var(--border-light-color);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 1000;
}

.menu-item {
  display: flex;
  width: 100%;
  height: auto;
  padding: 5px 25px;
  margin-bottom: 5px;
  align-items: center;
  font-size: 18px;
  border-radius: 12px;
  cursor: pointer;
}

.menu-item p {
  color: var(--text-color);
}

.separator {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid var(--border-light-color);
}

@media (max-width: 450px) {
  .navbar-button {
    display: none;
  }

  .navbar-element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .navbar-element-nameapp img {
    width: 200px;
    height: 50px;
  }

  .navbar-element-nameapp img:hover {
    cursor: pointer;
    transform: scale(1);
  }
}
