<div *ngIf="userRegister" class="full-navbar">

    
        <div class="profile-content">
            <div class="profile-pic">
                <img src="../../../../assets/images/profile-pic.jpg" alt="no picture">
                
            </div>
            
            <p>{{user.username}}</p>
        </div>
        <div class="buttons">
            <div [ngClass]="{'active-background': isCurrentRoute('/info-board')}" class="button-template" [routerLink]="['/info-board']">
                <p><i class="bi bi-house-fill" style="margin-right: 5px;"></i>Početna</p>
            </div>

            <div [ngClass]="{'active-background': isCurrentRoute('/events-page')}" class="button-template" [routerLink]="['/events-page']">
                <p><i class="bi bi-heart-fill" style="margin-right: 5px;"></i>Događaji</p>
            </div>

            <div class="button-template">
                <p><i class="bi bi-substack" style="margin-right: 5px;"></i>Klubovi</p>
            </div>

            <div class="button-template">
                <p><i class="bi bi-person-square" style="margin-right: 5px;"></i> Moj profil</p>
            </div>

        </div>
</div>