<div class="navbar-content">
  <div class="navbar-element">
    <div class="navbar-element-nameapp">
      <p>
        <img
          [routerLink]="['/']"
          src="../../../../assets/logo/white-logo.svg"
          alt="no-picture"
        />
      </p>
    </div>
    <div class="navbar-button">
      <div (click)="goToEvents()" class="navbar-item">
        <p>Događaji</p>
      </div>

      <div (click)="goToClubs()" class="navbar-item">
        <p>Klubovi</p>
      </div>
      <div
        *ngIf="user.role === 'administrator'"
        class="navbar-item"
        (click)="goToAdminPanel()"
      >
        <p>Korisnici</p>
      </div>
      <div
        *ngIf="user.role === 'administrator'"
        class="navbar-item"
        (click)="goToReports()"
      >
        <p>Prijave</p>
      </div>

      <!-- <div class="navbar-item">
                <p>FAQ</p>
            </div>

            <div class="navbar-item">
                <p>O nama</p>
            </div> -->

      <xp-primary-button
        *ngIf="user.username === ''"
        class="prijava-button"
        buttonId="prijava-button"
        buttonType="button"
        textValue="Prijava"
        (OnClick)="loginClick()"
      >
      </xp-primary-button>

      <div class="navbar-item" *ngIf="user && user.username !== ''">
        <div class="pic-image" (click)="vievMenu()">
          <img
            [src]="
              person.profilePicBase64
                ? person.profilePicBase64
                : defaultProfilePic
            "
            width="60"
          />
          <i class="bi bi-caret-down-fill"></i>
        </div>

        <div class="profile-menu" *ngIf="menuVisible">
          <div class="menu-item" (click)="goToMyProfile()">
            <p>
              <i class="bi bi-person-circle" style="margin-right: 8px"></i
              >Profil
            </p>
          </div>
          <div class="separator"></div>
          <div class="menu-item" (click)="onLogout()">
            <p>
              <i class="bi bi-box-arrow-left" style="margin-right: 8px"></i
              >Odjava
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="dropdown-content" *ngIf="isDropdownVisible">
      <div class="burger-icon" (click)="toggleDropdown()">
        <i class="bi bi-list"></i>
      </div>
      <div class="dropdown-contentt" [ngClass]="{ show: dropdownOpen }">
        <div class="navbar-item" (click)="goToEvents()">
          <p>Događaji</p>
        </div>
        <div class="navbar-item" (click)="goToClubs()">
          <p>Klubovi</p>
        </div>
        <div
          *ngIf="user.role === 'administrator'"
          class="navbar-item"
          (click)="goToAdminPanel()"
        >
          <p>Korisnici</p>
        </div>
        <div
          *ngIf="user.role === 'administrator'"
          class="navbar-item"
          (click)="goToReports()"
        >
          <p>Prijave</p>
        </div>
        <!-- <div class="navbar-item">
                    <p>FAQ</p>
                </div>
                <div class="navbar-item">
                    <p>O nama</p>
                </div> -->
        <div
          class="navbar-item"
          *ngIf="user.username === ''"
          (click)="loginClick()"
        >
          <p>Prijava</p>
        </div>
        <div
          class="navbar-item"
          *ngIf="user && user.username !== ''"
          (click)="onLogout()"
        >
          <p>Odjavi se</p>
        </div>
      </div>
    </div>
  </div>
</div>
