<div class="navbar-content">
  <div class="navbar-element">
    <div class="navbar-element-nameapp">
      <p>
        <img
          [routerLink]="['/']"
          src="../../../../assets/logo/white-logo.svg"
          alt="no-picture"
        />
      </p>
    </div>
    <div class="navbar-button">
      <div (click)="goToEvents()" class="navbar-item">
        <p>Događaji</p>
      </div>

      <div (click)="goToClubs()" class="navbar-item">
        <p>Klubovi</p>
      </div>

      <!-- <div class="navbar-item">
                <p>FAQ</p>
            </div>

            <div class="navbar-item">
                <p>O nama</p>
            </div> -->

      <div
        class="navbar-item"
        *ngIf="user && user.username !== ''"
        (click)="goToMyProfile()"
      >
        <p>Moj profil</p>
      </div>

      <xp-primary-button
        *ngIf="user.username === ''"
        class="prijava-button"
        buttonId="prijava-button"
        buttonType="button"
        textValue="Prijava"
        (OnClick)="loginClick()"
      >
      </xp-primary-button>

      <xp-primary-button
        *ngIf="user && user.username !== ''"
        class="prijava-button"
        buttonId="prijava-button"
        buttonType="button"
        textValue="Odjava"
        (OnClick)="onLogout()"
        iconClass="outside bi bi-box-arrow-left"
      >
      </xp-primary-button>

      <!-- <div class="login-button" *ngIf="user.username === ''">
        <p (click)="loginClick()">Prijava</p>
      </div> -->
      <!-- <div class="login-button" *ngIf="user && user.username !== ''">
        <p (click)="onLogout()">
          <i class="outside bi bi-box-arrow-left" style="margin-right: 5px"></i
          >Odjava
        </p>
      </div> -->
    </div>

    <div class="dropdown-content" *ngIf="isDropdownVisible">
      <div class="burger-icon" (click)="toggleDropdown()">
        <i class="bi bi-list"></i>
      </div>
      <div class="dropdown-contentt" [ngClass]="{ show: dropdownOpen }">
        <div class="navbar-item" (click)="goToEvents()">
          <p>Događaji</p>
        </div>
        <div class="navbar-item" (click)="goToClubs()">
          <p>Klubovi</p>
        </div>
        <!-- <div class="navbar-item">
                    <p>FAQ</p>
                </div>
                <div class="navbar-item">
                    <p>O nama</p>
                </div> -->
        <div
          class="navbar-item"
          *ngIf="user.username === ''"
          (click)="loginClick()"
        >
          <p>Prijava</p>
        </div>
        <div
          class="navbar-item"
          *ngIf="user && user.username !== ''"
          (click)="onLogout()"
        >
          <p>Odjavi se</p>
        </div>
      </div>
    </div>
  </div>
</div>
