<!--<div class="home-full-page-bg">
  <div class="register-form-content">
    <h2 class="title-register-form">Registracija</h2>
    <div class="name-and-surname">
      <div class="name-field">
        <p>Ime:</p>
        <input type="text" #nameInput [ngClass]="{ 'red-border': validName }" />
        <p style="color: red; font-size: 12px" *ngIf="validName">Unesi ime!</p>
      </div>
      <div class="surname-field">
        <p>Prezime:</p>
        <input
          type="text"
          #surnameInput
          [ngClass]="{ 'red-border': validSurname }"
        />
        <p style="color: red; font-size: 12px" *ngIf="validSurname">
          Unesi prezime!
        </p>
      </div>
    </div>

    <div class="email-field">
      <p>Email:</p>
      <input
        type="email"
        #emailInput
        [ngClass]="{ 'red-border': validEmail }"
      />
      <p style="color: red; font-size: 12px" *ngIf="validEmail">Unesi email!</p>
    </div>

    <div class="email-field">
      <p>Korisnicko ime:</p>
      <input
        type="text"
        #usernameInput
        [ngClass]="{ 'red-border': validUsername }"
      />
      <p style="color: red; font-size: 12px" *ngIf="validUsername">
        Unesi korisnicko ime!
      </p>
    </div>

    <div class="password-field">
      <div class="password-text">
        <p class="pass">Lozinka:</p>
        <p class="again-password">Ponovi lozinku:</p>
      </div>

      <div class="password-input">
        <input
          class="password"
          [type]="fieldTextType ? 'password' : 'text'"
          #passwordInput
          [ngClass]="{ 'red-border': validPassword || samePassword }"
        />
        <i
          (click)="changeBiEye()"
          class="bi"
          [ngClass]="{
            'bi-eye-slash-fill': fieldTextType,
            'bi-eye-fill': !fieldTextType
          }"
        ></i>

        <input
          class="password"
          [type]="fieldTextType ? 'password' : 'text'"
          #passwordagainInput
          [ngClass]="{ 'red-border': validPassword || samePassword }"
        />
        <i
          (click)="changeBiEye()"
          class="bi-again"
          [ngClass]="{
            'bi-eye-slash-fill': fieldTextType,
            'bi-eye-fill': !fieldTextType
          }"
        ></i>
      </div>
    </div>
    <p
      style="
        color: red;
        font-size: 12px;
        font-weight: bold;
        font-style: italic;
        font-family: Arial, Helvetica, sans-serif;
      "
      *ngIf="samePassword"
    >
      Lozinke nisu iste!
    </p>
    <p
      style="
        color: red;
        font-size: 12px;
        font-weight: bold;
        font-style: italic;
        font-family: Arial, Helvetica, sans-serif;
      "
      *ngIf="validPassword"
    >
      Unesi lozinke!
    </p>

    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="flexCheckDefault"
        [(ngModel)]="isAuthor"
      />
      <label class="form-check-label checkbox-label" for="flexCheckDefault">
        Želim da budem autor
      </label>
    </div>

    <div class="button-login">
      <button
        (click)="
          register(
            nameInput.value,
            surnameInput.value,
            emailInput.value,
            usernameInput.value,
            passwordInput.value,
            passwordagainInput.value
          )
        "
      >
        Registruj se
      </button>
    </div>
  </div>
</div>-->

<div class="full-page-bg">
  <div class="first-half">
      <div class="first-half-content">
          <h2>Dobrodošli na UNStudent portal!</h2>
          <p>Pridružite nam se u stvaranju nezaboravnih trenutaka i otkrivanju novih svetova.</p>
      </div>

  </div>
  <div class="second-half">
      <div class="second-half-content">
          <div class="logo-section">
              <img src="../../../../assets/logo/blue_logo.svg" alt="no-picture">
          </div>

          <form [formGroup]="registerForm" class="login-form">

            <div class="name-and-surname-row">
              <xp-input
                style="width: 100%;"
                [control]="registerForm.controls.name"
                inputType="text"
                inputId="name"
                label="Ime:"
                [customErrorMessages]="{ required: 'Ime je obavezno polje!' }">
              </xp-input>

              <xp-input
                style="width: 100%;"
                [control]="registerForm.controls.surname"
                inputType="text"
                inputId="surname"
                label="Prezime:"
                [customErrorMessages]="{ required: 'Prezime je obavezno polje!' }">
              </xp-input>
            </div>

            <xp-input
              style="width: 100%; margin-top: 3%;"
              [control]="registerForm.controls.email"
              inputType="email"
              inputId="email"
              label="Email:"
              [customErrorMessages]="{ required: 'Email je obavezno polje!' }">
            </xp-input>

            <xp-input
              style="width: 100%; margin-top: 3%;"
              [control]="registerForm.controls.username"
              inputType="text"
              inputId="username"
              label="Korisničko ime:"
              [customErrorMessages]="{ required: 'Korisničko ime je obavezno polje!' }"
              [wrongRedBorder]="usernameExist">
            </xp-input>

            <div class="passwords-row">
              <xp-input
                style="width: 100%;"
                [control]="registerForm.controls.password"
                inputType="password"
                inputId="password"
                label="Lozinka:"
                [customErrorMessages]="{ required: 'Lozinka je obavezno polje!' }"
                [wrongRedBorder]="!samePassword">
              </xp-input>

              <xp-input
                style="width: 100%;"
                [control]="registerForm.controls.repeatPassword"
                inputType="password"
                inputId="repeatPassword"
                label="Ponovi lozinku:"
                [customErrorMessages]="{ required: 'Ponovi lozinku je obavezno polje!' }"
                [wrongRedBorder]="!samePassword">
              </xp-input>
            </div>
            <p class="wrongPasswords" *ngIf="errorMessage != ''">
              {{errorMessage}}
            </p>

            <div class="form-check checkbox-container">
              <input
                class="checkbox-custom"
                type="checkbox"
                value=""
                id="flexCheckDefault"
                formControlName="isAuthor"
              />
              <label class="checkbox-label-custom" for="flexCheckDefault">
                Želim da budem autor
              </label>
            </div>

            <xp-primary-button
              (click)="register()"
              style="width: 100%; margin-top: 5%;"
              buttonId="register-button"
              buttonType="button"
              textValue="Registruj se">
            </xp-primary-button>

          </form>


      </div>
  </div>
</div>
