<div class="full-page-bg">
  <div class="page-container">
    <div class="left-bar">
      <div class="search-events">
        <xp-input
          class="input-search"
          [inputType]="'text'"
          [label]="''"
          [control]="searchControl"
          inputId="searchInput"
          placeholderSentence="Pretraži klubove"
          (keydown.enter)="searchClubs(searchControl.value!)"
        ></xp-input>
        <p (click)="searchClubs(searchControl.value!)">
          <i class="bi bi-search"></i>
        </p>
      </div>

      <div class="buttons-tab">
        <p
          [ngClass]="{ active: activeTab === 'allClubs' }"
          (click)="changeActiveTab('allClubs')"
        >
          <i class="bi bi-suit-club-fill" style="margin-right: 10px"></i>Svi
          klubovi
        </p>
        <p
          [ngClass]="{ active: activeTab === 'yourClubs' }"
          (click)="changeActiveTab('yourClubs')"
          *ngIf="user.role === 'author'"
        >
          <i class="bi bi-bookmark-star-fill" style="margin-right: 10px"></i
          >Vaši klubovi
        </p>
        <p
          [ngClass]="{ active: activeTab === 'yourMemberships' }"
          (click)="changeActiveTab('yourMemberships')"
          *ngIf="user.role === 'student'"
        >
          <i class="bi bi-person-fill-check" style="margin-right: 10px"></i>Vaša
          članstva
        </p>

        <xp-primary-button
          *ngIf="user.role === 'author'"
          class="create-event"
          buttonId="create-event-button"
          buttonType="button"
          textValue="Napravi novi klub"
          (OnClick)="createClub()"
        >
        </xp-primary-button>
      </div>

      <div class="filter-section">
        <p class="filter-type-title">Kategorije klubova:</p>
        <div class="checkboxs">

          <div class="checkbox-input">
            <input
              type="checkbox"
              id="sports"
              value="Sports"
              class="club-checkbox"
              (change)="onCheckboxChange()"
            />
            <label for="sports">Sportski</label>
          </div>
          <div class="checkbox-input">
            <input
              type="checkbox"
              id="artistic"
              value="Artistic"
              class="club-checkbox"
              (change)="onCheckboxChange()"
            />
            <label for="artistic">Umetnički</label>
          </div>
          <div class="checkbox-input">
            <input
              type="checkbox"
              id="scientific"
              value="Scientific"
              class="club-checkbox"
              (change)="onCheckboxChange()"
            />
            <label for="scientific">Naučni</label>
          </div>
          <div class="checkbox-input">
            <input
              type="checkbox"
              id="cultural"
              value="Cultural"
              class="club-checkbox"
              (change)="onCheckboxChange()"
            />
            <label for="cultural">Kulturni i književni</label>
          </div>
          <div class="checkbox-input">
            <input
              type="checkbox"
              id="technical"
              value="Technical"
              class="club-checkbox"
              (change)="onCheckboxChange()"
            />
            <label for="technical">Tehnički i inovacioni</label>
          </div>

          <div class="checkbox-input">
            <input
              type="checkbox"
              id="gaming"
              value="Gaming"
              class="club-checkbox"
              (change)="onCheckboxChange()"
            />
            <label for="gaming">Gejmerski</label>
          </div>
          <div class="checkbox-input">
            <input
              type="checkbox"
              id="social"
              value="Social"
              class="club-checkbox"
              (change)="onCheckboxChange()"
            />
            <label for="social">Društveni i humanitarni</label>
          </div>
          <div class="checkbox-input">
            <input
              type="checkbox"
              id="other"
              value="Other"
              class="club-checkbox"
              (change)="onCheckboxChange()"
            />
            <label for="other">Ostali</label>
          </div>
   
        </div>
      </div>
    </div>
    <div class="clubs">
      <div class="searched" *ngIf="searchName != ''">
        <p>Pretražili ste: "{{ searchName }}"</p>
        <i
          class="bi bi-x-circle-fill"
          matTooltip="Izbriši pretragu"
          (click)="clearSearchName()"
        ></i>
      </div>
      <div
        class="filtered"
        *ngIf="
          selectedCheckboxes.length != 0
        "
      >
        <p *ngIf="selectedCheckboxes.length > 0">
          Primjenjeno
          {{ selectedCheckboxes.length }} filtera:
        </p>
        <p class="filtered-type" *ngFor="let type of selectedCheckboxes">
          {{ categoryClub[type] }}
          <i
            (click)="clearTypeFilter(type)"
            class="bi bi-x-circle-fill"
            style="margin-left: 10px"
            matTooltip="Izbriši filter"
          
          >
          </i>
        </p>
        <p
          class="clear-all"
          *ngIf="selectedCheckboxes.length > 1"
          (click)="clearAllFilters()"
        >
          Obriši sve filtere
        </p>
      </div>
      <div class="cards">
        <xp-club-card
          *ngFor="let club of pagedClubs; let i = index"
          [club]="club"
          [isMenuVisible]="menuVisibleIndex === i"
          (menuToggle)="onMenuToggle(i)"
        ></xp-club-card>
      </div>
      <div *ngIf="clubs.length > 4" class="pagination">
        <button (click)="prevPage()" [disabled]="currentPage === 1">
          Prethodna
        </button>
        <span>Strana {{ currentPage }} od {{ totalPages }}</span>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages">
          Sledeća
        </button>
      </div>
    </div>
  </div>
</div>
