@import "~bootstrap-icons/font/bootstrap-icons.css";

.full-page-bg {
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;
  width: 100%;
  overflow-y: auto;
  background-color: var(--background-color);
  background-size: cover;
  background-position: center;
  margin-top: 8dvh;
}

.page-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.left-bar {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: calc(100% - 8dvh);
  position: fixed;
  border-right: 1px solid black;
  top: 8dvh;
}

.left-bar-title {
  display: flex;
  justify-content: left;
  align-items: center;
  color: var(--text-color);
  font-weight: 700;
  font-size: 28px;
  margin: 4%;
}

.search-events {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.input-search {
  width: 95%;
}

.search-events p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: inherit;
  border-radius: 12px;
  color: var(--text-on-secondary-color);
  background-color: var(--secondary-color);
  margin-top: 20px;
  font-size: clamp(14px, 1vw, 28px);
  cursor: pointer;
}

.search-events p:hover {
  background-color: var(--secondary-hover-color);
}

.buttons-tab {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.buttons-tab p {
  display: flex;
  width: 100%;
  height: 0;
  padding: 28px 8px;
  margin-bottom: 2px;
  align-items: center;
  font-size: 18px;
  border-radius: 12px;
  cursor: pointer;
}

.buttons-tab p:hover {
  background-color: aliceblue;
  color: var(--secondary-hover-color);
}

.buttons-tab p.active {
  background-color: aliceblue;
  color: var(--secondary-hover-color);
}

.create-event {
  width: 100%;
  margin-top: 3%;
  margin-bottom: 3%;
  font-size: 15px;
  font-weight: 700;
}

.filter-section{
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  margin-top: 5%;
  
}

/* Prikazuje scrollbar kada je miš iznad sekcije */
.filter-section:hover {
  overflow-y: auto; /* Prikazuje scrollbar kada je miš iznad */
}

/* Stilizacija scrollbara */
.filter-section::-webkit-scrollbar {
  width: 10px; /* Širina scrollbar-a */
}

.filter-section::-webkit-scrollbar-track {
  background: #f1f1f1; /* Boja pozadine scrollbar-a */
  border-radius: 10px; /* Zaobljeni uglovi scrollbar-a */
}

.filter-section::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

.filter-section::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.filter-type-title {
  display: flex;
  justify-content: left;
  align-items: center;
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 900;
  margin-left: 5%;
}

.checkboxs {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.checkbox-input {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.checkbox-input input {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.checkbox-input label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
}


.filtered{
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  height: auto;
  margin-left: 3%;
  gap: 10px;
}

.filtered p{
  padding: 10px 5px;
}

.filtered-type{
  cursor: pointer;
  border-radius: 15px;
  background-color: aliceblue;
}


.filtered-type i:hover{
  color: var(--error-color);
  transition: 0.5s;
}

.clear-all{
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: 700;
  background-color: aliceblue;
  border-radius: 15px;
  padding: 3px;
  cursor: pointer;
}

.clear-all:hover{
  background-color: rgb(240, 240, 255);
  color: var(--secondary-hover-color);
  transition: 0.8s;
}

.clubs{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: calc(100% - 8dvh - 10px);
  position: absolute;
  margin-left: 20%;
  margin-top: 10px;
}

.searched{
  display: flex;
  flex-direction: row;
  font-size: 14px;
  margin-left: 3%;
  gap: 10px;

}

.searched p{
  padding: 0px 5px;
}

.searched i{
  cursor: pointer;
}

.searched i:hover{
  color: var(--error-color);
  transition: 0.5s;
}


.cards{
  display: flex;
  flex-wrap: wrap;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 0.5%;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.pagination button {
  padding: 10px 20px;
  margin: 40px 10px;
  border: none;
  background-color: rgb(2, 2, 100);
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  font-size: 18px;
}


.empty-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.empty-page img{
  width: 280px;
  height: 230px;
}

.empty-page p{
  text-align: center;
  max-width: 400px;
}

.loading-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: calc(100% - 8dvh - 10px);
  position: absolute;
  margin-left: 20%;
  margin-top: 10px;
}

.center-position{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-left-color: var(--secondary-color);
  animation: spin 1s ease infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}