<div class="full-page-bg">
  <div class="page-container">
    <div class="left-bar">
      <div class="search-clubs">
        <xp-input
          class="input-search"
          [inputType]="'text'"
          [label]="''"
          [control]="searchControl"
          inputId="searchInput"
          placeholderSentence="Pretraži klubove"
          (keydown.enter)="searchClubs(searchControl.value!)"
        ></xp-input>
        <p (click)="searchClubs(searchControl.value!)">
          <i class="bi bi-search"></i>
        </p>
      </div>

      <div class="buttons-tab">
        <p
          [ngClass]="{ active: activeTab === 'allClubs' }"
          (click)="changeActiveTab('allClubs')"
        >
          <i class="bi bi-suit-club-fill" style="margin-right: 10px"></i>Svi
          klubovi
        </p>
        <p
          [ngClass]="{ active: activeTab === 'yourClubs' }"
          (click)="changeActiveTab('yourClubs')"
          *ngIf="user.role === 'author'"
        >
          <i class="bi bi-bookmark-star-fill" style="margin-right: 10px"></i
          >Vaši klubovi
        </p>
        <p
          [ngClass]="{ active: activeTab === 'yourMemberships' }"
          (click)="changeActiveTab('yourMemberships')"
          *ngIf="user.role === 'student'"
        >
          <i class="bi bi-person-fill-check" style="margin-right: 10px"></i>Vaša
          članstva
        </p>

        <xp-primary-button
          *ngIf="user.role === 'author'"
          class="create-club"
          buttonId="create-club-button"
          buttonType="button"
          textValue="Napravi novi klub"
          (OnClick)="createClub()"
        >
        </xp-primary-button>
      </div>

      <div class="filter-section">
        <p class="filter-type-title">Kategorije klubova:</p>
        <div class="checkboxs">
          <div class="checkbox-input">
            <input
              type="checkbox"
              id="sports"
              value="Sports"
              class="club-checkbox"
              (change)="onCheckboxChange()"
              [checked]="selectedCheckboxes.includes('Sports')"
            />
            <label for="sports">Sportski</label>
          </div>
          <div class="checkbox-input">
            <input
              type="checkbox"
              id="artistic"
              value="Artistic"
              class="club-checkbox"
              (change)="onCheckboxChange()"
              [checked]="selectedCheckboxes.includes('Artistic')"
            />
            <label for="artistic">Umetnički</label>
          </div>
          <div class="checkbox-input">
            <input
              type="checkbox"
              id="scientific"
              value="Scientific"
              class="club-checkbox"
              (change)="onCheckboxChange()"
              [checked]="selectedCheckboxes.includes('Scientific')"
            />
            <label for="scientific">Naučni</label>
          </div>
          <div class="checkbox-input">
            <input
              type="checkbox"
              id="cultural"
              value="Cultural"
              class="club-checkbox"
              (change)="onCheckboxChange()"
              [checked]="selectedCheckboxes.includes('Cultural')"
            />
            <label for="cultural">Kulturni i književni</label>
          </div>
          <div class="checkbox-input">
            <input
              type="checkbox"
              id="technical"
              value="Technical"
              class="club-checkbox"
              (change)="onCheckboxChange()"
              [checked]="selectedCheckboxes.includes('Technical')"
            />
            <label for="technical">Tehnički i inovacioni</label>
          </div>

          <div class="checkbox-input">
            <input
              type="checkbox"
              id="gaming"
              value="Gaming"
              class="club-checkbox"
              (change)="onCheckboxChange()"
              [checked]="selectedCheckboxes.includes('Gaming')"
            />
            <label for="gaming">Gejmerski</label>
          </div>
          <div class="checkbox-input">
            <input
              type="checkbox"
              id="social"
              value="Social"
              class="club-checkbox"
              (change)="onCheckboxChange()"
              [checked]="selectedCheckboxes.includes('Social')"
            />
            <label for="social">Društveni i humanitarni</label>
          </div>
          <div class="checkbox-input">
            <input
              type="checkbox"
              id="other"
              value="Other"
              class="club-checkbox"
              (change)="onCheckboxChange()"
              [checked]="selectedCheckboxes.includes('Other')"
            />
            <label for="other">Ostali</label>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="isLoading" class="loading-container">
      <div class="center-position">
        <div class="spinner"></div>
        <p>Učitavanje...</p>
      </div>
    </div>

    <div class="clubs" *ngIf="!isLoading">
      <div class="filter-phone-section">
        <h3 (click)="toggleDropdown()">Pretraži <i *ngIf="!dropdownOpen" class="bi bi-chevron-down" style="margin-left: 5px;"></i> <i *ngIf="dropdownOpen" class="bi bi-chevron-up" style="margin-left: 5px;"></i></h3>

        <div class="dropdown-contentt" [ngClass]="{ show: dropdownOpen }">
          <div class="search-clubs">
            <xp-input
              class="input-search"
              [inputType]="'text'"
              [label]="''"
              [control]="searchControl"
              inputId="searchInput"
              placeholderSentence="Pretraži klubove"
              (keydown.enter)="searchClubs(searchControl.value!)"
            ></xp-input>
            <p (click)="searchClubs(searchControl.value!)">
              <i class="bi bi-search"></i>
            </p>
          </div>
    
          <div class="buttons-tab">
            <p
              [ngClass]="{ active: activeTab === 'allClubs' }"
              (click)="changeActiveTab('allClubs')"
            >
              <i class="bi bi-suit-club-fill" style="margin-right: 10px"></i>Svi
              klubovi
            </p>
            <p
              [ngClass]="{ active: activeTab === 'yourClubs' }"
              (click)="changeActiveTab('yourClubs')"
              *ngIf="user.role === 'author'"
            >
              <i class="bi bi-bookmark-star-fill" style="margin-right: 10px"></i
              >Vaši klubovi
            </p>
            <p
              [ngClass]="{ active: activeTab === 'yourMemberships' }"
              (click)="changeActiveTab('yourMemberships')"
              *ngIf="user.role === 'student'"
            >
              <i class="bi bi-person-fill-check" style="margin-right: 10px"></i>Vaša
              članstva
            </p>
    
            <xp-primary-button
              *ngIf="user.role === 'author'"
              class="create-club"
              buttonId="create-club-button"
              buttonType="button"
              textValue="Napravi novi klub"
              (OnClick)="createClub()"
            >
            </xp-primary-button>
          </div>
    
          <div class="filter-section">
            <p class="filter-type-title">Kategorije klubova:</p>
            <div class="checkboxs">
              <div class="checkbox-input">
                <input
                  type="checkbox"
                  id="sportss"
                  value="Sports"
                  class="club-checkbox"
                  (change)="onCheckboxChange()"
                  [checked]="selectedCheckboxes.includes('Sports')"
                />
                <label for="sportss">Sportski</label>
              </div>
              <div class="checkbox-input">
                <input
                  type="checkbox"
                  id="artisticc"
                  value="Artistic"
                  class="club-checkbox"
                  (change)="onCheckboxChange()"
                  [checked]="selectedCheckboxes.includes('Artistic')"
                />
                <label for="artisticc">Umetnički</label>
              </div>
              <div class="checkbox-input">
                <input
                  type="checkbox"
                  id="scientificc"
                  value="Scientific"
                  class="club-checkbox"
                  (change)="onCheckboxChange()"
                  [checked]="selectedCheckboxes.includes('Scientific')"
                />
                <label for="scientificc">Naučni</label>
              </div>
              <div class="checkbox-input">
                <input
                  type="checkbox"
                  id="culturall"
                  value="Cultural"
                  class="club-checkbox"
                  (change)="onCheckboxChange()"
                  [checked]="selectedCheckboxes.includes('Cultural')"
                />
                <label for="culturall">Kulturni i književni</label>
              </div>
              <div class="checkbox-input">
                <input
                  type="checkbox"
                  id="technicall"
                  value="Technical"
                  class="club-checkbox"
                  (change)="onCheckboxChange()"
                  [checked]="selectedCheckboxes.includes('Technical')"
                />
                <label for="technicall">Tehnički i inovacioni</label>
              </div>
    
              <div class="checkbox-input">
                <input
                  type="checkbox"
                  id="gamingg"
                  value="Gaming"
                  class="club-checkbox"
                  (change)="onCheckboxChange()"
                  [checked]="selectedCheckboxes.includes('Gaming')"
                />
                <label for="gamingg">Gejmerski</label>
              </div>
              <div class="checkbox-input">
                <input
                  type="checkbox"
                  id="sociall"
                  value="Social"
                  class="club-checkbox"
                  (change)="onCheckboxChange()"
                  [checked]="selectedCheckboxes.includes('Social')"
                />
                <label for="sociall">Društveni i humanitarni</label>
              </div>
              <div class="checkbox-input">
                <input
                  type="checkbox"
                  id="otherr"
                  value="Other"
                  class="club-checkbox"
                  (change)="onCheckboxChange()"
                  [checked]="selectedCheckboxes.includes('Other')"
                />
                <label for="otherr">Ostali</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="searched" *ngIf="searchName != ''">
        <p>Pretražili ste: "{{ searchName }}"</p>
        <i
          class="bi bi-x-circle-fill"
          matTooltip="Izbriši pretragu"
          (click)="clearSearchName()"
        ></i>
      </div>
      <div class="filtered" *ngIf="selectedCheckboxes.length != 0">
        <p *ngIf="selectedCheckboxes.length > 0">
          Primjenjeno
          {{ selectedCheckboxes.length }} filtera:
        </p>
        <p class="filtered-type" *ngFor="let type of selectedCheckboxes">
          {{ categoryClub[type] }}
          <i
            (click)="clearTypeFilter(type)"
            class="bi bi-x-circle-fill"
            style="margin-left: 10px"
            matTooltip="Izbriši filter"
          >
          </i>
        </p>
        <p
          class="clear-all"
          *ngIf="selectedCheckboxes.length > 1"
          (click)="clearAllFilters()"
        >
          Obriši sve filtere
        </p>
      </div>
      <div class="cards">
        <xp-club-card
          *ngFor="let club of pagedClubs; let i = index"
          [club]="club"
          [isMenuVisible]="menuVisibleIndex === i"
          (menuToggle)="onMenuToggle(i)"
        ></xp-club-card>
      </div>
      <div *ngIf="clubs.length > 4" class="pagination">
        <button (click)="prevPage()" [disabled]="currentPage === 1">
          Prethodna
        </button>
        <span>Strana {{ currentPage }} od {{ totalPages }}</span>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages">
          Sledeća
        </button>
      </div>

      <div
        class="empty-page"
        *ngIf="
          clubs.length == 0 &&
          activeTab == 'allClubs' &&
          !showEmptySeachPlaceholder
        "
      >
        <img src="../../../../assets/images/emptyclub.png" alt="no-picture" />
        <p style="margin-top: 5px">
          Nažalost, trenutno nema klubova koji su dostupni i aktivni.
        </p>
      </div>

      <div
        class="empty-page"
        *ngIf="
          clubs.length == 0 &&
          activeTab == 'yourClubs' &&
          !showEmptySeachPlaceholder
        "
      >
        <img src="../../../../assets/images/emptyclub.png" alt="no-picture" />
        <p style="margin-top: 5px">
          Trenutno nemate kreiranih klubova. Započnite kreiranjem novog kluba.
        </p>
      </div>

      <div
        class="empty-page"
        *ngIf="
          clubs.length == 0 &&
          activeTab == 'yourMemberships' &&
          !showEmptySeachPlaceholder
        "
      >
        <img src="../../../../assets/images/emptyclub.png" alt="no-picture" />
        <p style="margin-top: 5px">
          Ovdje će se prikazati klubovi čiji ste članovi. Nažalost trenutno nema
          takvih.
        </p>
      </div>

      <div class="empty-page" *ngIf="showEmptySeachPlaceholder">
        <img src="../../../../assets/images/emptysearch.png" alt="no-picture" />
        <p style="margin-top: 5px">
          Nismo pronašli nijedan klub. Proverite da li je sve pravilno napisano
          ili pokušajte sa drugačijim filterima.
        </p>
      </div>
    </div>
  </div>
</div>
