<div class="full-page-bg">
    <div class="first-section">
        <div class="text-info">
            <h1>O nama</h1>
            <p>Dobrodošli na stranicu posvećenu našem timu i vrednostima koje delimo. Kroz posvećen rad i inovativnost, stvaramo rešenja koja inspirišu i menjaju budućnost.</p>
        </div>
    </div>

    <div class="second-section">
        <div class="second-content">
            <div class="second-content-text">
                <h1>Naša misija</h1>
                <p>Naša misija je da poboljšamo studentski život i unapredimo njegov kvalitet pružajući platformu koja objedinjuje sve događaje, 
                    aktivnosti i klubove na jednom mestu. Želimo da studentima omogućimo veću socijalnu moć, olakšamo svakodnevni život i
                     obezbedimo pravovremene informacije o dešavanjima koja su im važna u gradu u kojem studiraju. 
                     Verujemo da kroz povezivanje i informisanje, možemo doprineti stvaranju zajednice u kojoj će studenti lakše ostvarivati svoje ciljeve i 
                     uživati u bogatijem društvenom životu.</p>
            </div>
            <div class="second-content-image">
                <img src="../../../../assets/images/about-uspic.webp" alt="">
            </div>
        </div>
        <div class="third-content">
            <h1>Upoznaj naš tim</h1>
            <div class="pictures-team">
                <div class="container">
                    <img src="../../../../assets/images/js.jpg" alt="Avatar" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">
                            <h2>Jovan Šarac</h2>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <img src="../../../../assets/images/jj.jpg" alt="Avatar" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">
                            <h2>Jovan Jokić</h2>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>