<div class="full-component">
    <div *ngIf="showEmojiPicker">
      <emoji-mart (emojiClick)="addEmoji($event)"></emoji-mart>
    </div>
    <div class="buttons">
        <button mat-icon-button (click)="insertElement('bold')">
          <mat-icon>format_bold</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="headings">
          <mat-icon>title</mat-icon>
        </button>
        <mat-menu #headings="matMenu">
          <div (click)="insertElement('h1')" mat-menu-item>h1</div>
          <div (click)="insertElement('h2')" mat-menu-item>h2</div>
          <div (click)="insertElement('h3')" mat-menu-item>h3</div>
        </mat-menu>
        <mat-divider vertical="true"></mat-divider>
        <button mat-icon-button (click)="insertElement('bulleted')">
          <mat-icon>format_list_bulleted</mat-icon>
        </button>
        <button mat-icon-button (click)="insertElement('numbered')">
          <mat-icon>format_list_numbered</mat-icon>
        </button>
        <mat-divider vertical="true"></mat-divider>
        <button mat-icon-button (click)="insertElement('code')">
          <mat-icon>code</mat-icon>
        </button>
        <button mat-icon-button (click)="insertElement('link')">
          <mat-icon>link</mat-icon>
        </button>
        <mat-divider vertical="true"></mat-divider>
        <button mat-icon-button (click)="toggleEmojiPicker()" >
          <mat-icon>sentiment_satisfied_alt</mat-icon>
        </button>
      <span ></span>
      <button *ngIf="sidePreview && livePreview" mat-icon-button (click)="synchEnabled = !synchEnabled"  [matTooltip]="synchEnabled ? 'Ukini skrol sinhronizaciju' : 'Aktiviraj skrol sinhronizaciju'">
        <mat-icon>{{ synchEnabled ? 'sync_disabled' : 'sync' }}</mat-icon>
      </button>
      <button mat-icon-button (click)="livePreview = !livePreview; setupScrollSync();" [matTooltip]="livePreview ? 'Sakrij formatiran tekst' : 'Prikaži formatiran tekst'">
        <mat-icon>{{ livePreview ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <div *ngIf="submitCtrls">
        <mat-divider vertical="true"></mat-divider>
        <button mat-icon-button color="primary" (click)="onSubmit(false)">
          <mat-icon>check</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="onSubmit(true)">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </div>
    <div class="textarea-inputs" *ngIf="!sidePreview">
      <div class="textarea__group field" >
        <textarea
          #textAreaElement   [tabindex]="indextab"
          (select)="onSelect($event)" (click)="onClick($event)" (ngModelChange)="onChange()"
          [ngClass]="{
            'red-border': control.invalid && control.touched,
          }"
          type="input"
          [formControl]="control"
          class="textarea__field"
          id="textarea"
          placeholder="{{ placeholderSentence }}">
        </textarea>
        <ng-container *ngIf="control.invalid && control.touched">
          <span *ngFor="let err of control.errors | keyvalue" class="err-message">{{
            getErrorMessage(err.key)
          }}</span>
        </ng-container>
        <label for="description" class="textarea__label">{{label}}</label>
      </div>

      <div class="markdown-overview" *ngIf="livePreview">
        <h2 class="mardown-title">Markdown pregled</h2>
        <small>
          <markdown  [data]="control.value" lineNumbers></markdown>
        </small>
      </div>
      
    </div>
    <div class="textarea-inputs" *ngIf="sidePreview">
      <div  class="textarea__group field">
        <textarea
          #textAreaElement matInput  [tabindex]="indextab" style="height: calc(65vh - 40px); resize: none;"
          (select)="onSelect($event)" (click)="onClick($event)" (ngModelChange)="onChange()"
          [ngClass]="{
            'red-border': control.invalid && control.touched,
          }"
          type="input"
          [formControl]="control"
          class="textarea__field"
          placeholder="{{ placeholderSentence }}">
        </textarea>
        <ng-container *ngIf="control.invalid && control.touched">
          <span *ngFor="let err of control.errors | keyvalue" class="err-message">{{
            getErrorMessage(err.key)
          }}</span>
        </ng-container>
        <label for="description" class="textarea__label">{{label}}</label>
      </div>
      <small #markdownContainerElement style="width: 50%; overflow-y: auto;" *ngIf="livePreview">
        <markdown [data]="control.value" lineNumbers></markdown>
      </small>
    </div>
</div>