<div class="full-page-container">
  <div class="date-action-button-container">
    <div class="action-buttons">
      <xp-secondary-button
        buttonId="participation-button"
        buttonType="button"
        textValue="Prikaži članove"
        iconClass="bi bi-people-fill"
        (click)="openMembersDialog()"
      ></xp-secondary-button>
      <div>
        <xp-secondary-button
          *ngIf="
            user.role === 'administrator' &&
            (club.status === 0 || club.status === 1)
          "
          buttonId="admin-close-button"
          buttonType="button"
          textValue="Zatvori klub"
          iconClass="bi bi-archive-fill"
          (click)="closeClubByAdmin()"
        ></xp-secondary-button>

        <xp-secondary-button
          *ngIf="isAuthor && club.status === 0"
          buttonId="close-button"
          buttonType="button"
          textValue="Zatvori klub"
          iconClass="bi bi-door-closed-fill"
          (click)="closeClub()"
        ></xp-secondary-button>

        <xp-secondary-button
          *ngIf="isAuthor && club.status === 1"
          buttonId="reopen-button"
          buttonType="button"
          textValue="Ponovo otvori"
          iconClass="bi bi-door-open-fill"
          (click)="reactivateClub()"
        ></xp-secondary-button>

        <xp-secondary-button
          style="margin-left: 5px"
          *ngIf="isAuthor"
          buttonId="izmeni-button"
          buttonType="button"
          textValue="Izmeni"
          iconClass="bi bi-pencil-fill"
          (click)="openEditClubPage()"
        ></xp-secondary-button>

        <xp-secondary-button
          *ngIf="
            !isAlreadyCheckedJoined() &&
            user.role === 'student' &&
            !shouldShowLoader() &&
            !isSuspended()
          "
          buttonId="participation-button"
          buttonType="button"
          textValue="Učlani se"
          iconClass="bi bi-check-circle"
          (click)="joinClub()"
        ></xp-secondary-button>

        <div
          style="width: 7dvw"
          class="loader-container"
          *ngIf="isLoading && shouldShowLoader()"
        >
          <div class="spinner-border text-light" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>

        <xp-secondary-button
          *ngIf="isAlreadyCheckedJoined() && user.role === 'student'"
          buttonId="participation-button2"
          buttonType="button"
          textValue="Napusti klub"
          iconClass="bi bi-check-circle-fill"
          [isCancelParticipationButton]="true"
          (click)="leaveClub()"
        ></xp-secondary-button>
      </div>
    </div>
  </div>
  <div class="heading-container">
    <h1>{{ club.name }}</h1>
    <div class="address-archive-p-container">
      <p class="event-address-p">
        <i class="bi bi-geo-alt-fill"></i> {{ club.address }}
      </p>
      <p
        *ngIf="
          club.status === 1 &&
          (user.role === 'author' || user.role === 'administrator')
        "
        class="event-date-time-p"
      >
        <i class="bi bi-exclamation-triangle-fill"></i> KLUB JE ZATVOREN
      </p>
      <p
        *ngIf="
          club.status === 2 &&
          (user.role === 'author' || user.role === 'administrator')
        "
        class="event-date-time-p"
      >
        <i class="bi bi-exclamation-triangle-fill"></i> KLUB JE ZATVOREN (by:
        ADMIN)
      </p>
      <p *ngIf="isSuspended()" class="event-date-time-p">
        <i class="bi bi-exclamation-triangle-fill"></i> SUSPENDOVAN SI (by:
        ADMIN)
      </p>
    </div>
  </div>

  <img class="event-image" [src]="club.coverImage" />
  <div class="additional-info-container">
    <div class="location-map-container">
      <p><i class="bi bi-geo-alt-fill"></i> Location</p>
      <p>{{ club.address }}</p>
      <p class="show-map" *ngIf="!isCollapsed" (click)="toggleCollapse()">
        Prikaži mapu <i class="bi bi-chevron-compact-down"></i>
      </p>
      <p class="show-map" *ngIf="isCollapsed" (click)="toggleCollapse()">
        Sakrij mapu <i class="bi bi-chevron-compact-up"></i>
      </p>

      <div *ngIf="isCollapsed" class="collapse-content">
        <xp-map class="map" [mapId]="'address_map'"></xp-map>
      </div>
    </div>
    <div class="creator-and-number-container">
      <p>
        <i class="bi bi-people-fill"></i>
        Broj članova:
        {{ getMembershipCount() }}
      </p>
      <p>
        <i class="bi bi-person-fill"></i> Klub kreirao/la
        <b class="author-name" (click)="openProfile()"
          >{{ author.name }}&nbsp;{{ author.surname }}</b
        >
      </p>
    </div>
  </div>
  <h1 class="about-club-h1">O klubu</h1>
  <div
    *ngIf="club.description.length > 304"
    class="event-description"
    [ngStyle]="{
      'max-height': !isDescriptionCollapsed ? '20dvh' : 'none',
      'mask-image': !isDescriptionCollapsed
        ? 'linear-gradient(#000, rgba(0, 0, 0, 0.1))'
        : 'none'
    }"
    [innerHTML]="convertedDescription"
  ></div>
  <div
    *ngIf="club.description.length < 304"
    class="event-description"
    [innerHTML]="convertedDescription"
  ></div>
  <p
    class="show-desc"
    *ngIf="!isDescriptionCollapsed && club.description.length > 304"
    (click)="toggleDescriptionCollapse()"
  >
    Prikaži više <i class="bi bi-chevron-compact-down"></i>
  </p>
  <p
    class="show-desc"
    *ngIf="isDescriptionCollapsed && club.description.length > 304"
    (click)="toggleDescriptionCollapse()"
  >
    Prikaži manje <i class="bi bi-chevron-compact-up"></i>
  </p>
</div>
