.full-page-container {
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--background-color);
  align-items: center;
}

.heading-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* text-align: center; */
}

.heading-container h1 {
  color: var(--heading-color);
  font-family: "Poppins", "sans-serif";
  font-size: 40px;
  font-weight: bold;
  line-height: 1.3;
}

.event-date-time-p {
  color: var(--accent-color);
  font-size: 22px;
  font-weight: bold;
}

.event-address-p {
  color: var(--text-lighter-color);
  font-size: 18px;
}

.separator {
  border-top: 1px solid var(--disabled-color);
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.loader-container {
  display: flex;
  background-color: var(--primary-color);
  justify-content: center;
  border-radius: 15px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.event-description {
  width: 50%;
  font-size: 25px;
  font-family: "Poppins", "sans-serif";
  line-height: 1.4;
  white-space: pre-wrap;
}

.date-action-button-container {
  margin-top: 1%;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0%;
}

.date-action-button-container p {
  align-self: center;
}

.date-action-button-container xp-secondary-button {
  justify-self: flex-end;
}

.event-image {
  border-radius: 5px;
  aspect-ratio: 1.77;
  width: 50%;
  height: auto;
  margin-bottom: 2%;
}

.additional-info-container {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-between;
  /* text-align: center; */
  margin-bottom: 2%;
}

.additional-info-container p {
  margin-left: 2%;
  margin-right: 2%;
  color: var(--text-color);
  font-size: 20px;
}

.creator-and-number-container {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.location-map-container {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.collapse-content {
  width: 50dvw;
  height: 45dvh;
  margin-top: 5%;
  overflow: hidden;
  border-radius: 5px;
}

.location-map-container .show-map {
  color: var(--secondary-color);
  font-size: 15px;
  font-weight: bold;
}

.location-map-container .show-map:hover {
  cursor: pointer;
}

.map {
  height: 100%;
  width: 100%;
}
