<div
  class="one-card"
  [ngStyle]="{ 'background-image': 'url(' + event.images[0] + ')' }"
  (click)="showSingleEvent()"
>
  <div class="type-event">
    <p
      class="event-type-style"
      [ngStyle]="{
        'background-color': eventTypeColors[event.eventType]
      }"
      [innerText]="eventType[event.eventType] || event.eventType"
    ></p>
    <div
      class="select-option"
      *ngIf="
        ((user.role === 'author' && user.id === event.userId) ||
          user.role === 'student') &&
        this.router.url !== '/'
      "
    >
      <p (click)="toggleMenu($event)"><i class="bi bi-three-dots"></i></p>
    </div>
  </div>
  <div class="card-menu" *ngIf="isMenuVisible && user.role != 'administrator'">
    <div
      class="menu-item"
      *ngIf="user.role === 'author' && user.id === event.userId"
      (click)="editEvent(event, $event)"
    >
      <p><i class="bi bi-pencil-fill" style="margin-right: 8px"></i>Izmeni</p>
    </div>
    <div class="separator" *ngIf="user.role === 'author'"></div>
    <div
      class="menu-item"
      *ngIf="
        user.role === 'author' &&
        user.id === event.userId &&
        event.isArchived == false
      "
      (click)="archiveEvent(event, $event)"
    >
      <p>
        <i class="bi bi-archive-fill" style="margin-right: 8px"></i>Arhiviraj
      </p>
    </div>
    <div
      class="menu-item"
      *ngIf="
        user.role === 'author' &&
        user.id === event.userId &&
        event.isArchived == true
      "
      (click)="publishEvent(event, $event)"
    >
      <p>
        <i class="bi bi-megaphone-fill" style="margin-right: 8px"></i>Objavi
      </p>
    </div>
    <div
      class="menu-item"
      *ngIf="user.role === 'student'"
      (click)="openDialogForReport(event, $event)"
    >
      <p>
        <i class="bi bi-exclamation-circle-fill" style="margin-right: 8px"></i
        >Prijavi
      </p>
    </div>
  </div>
  <div class="star">
    <svg
      *ngIf="
        isAlreadyCheckedParticipate(event.id) &&
        user.role === 'student' &&
        this.router.url !== '/'
      "
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      width="30"
      height="30"
      style="margin-top: 3px; margin-right: 8px"
    >
      <path
        d="M12 17.27L18.18 21 16.54 13.97 22 9.24 14.81 8.63 12 2 9.19 8.63 2 9.24 7.46 13.97 5.82 21z"
        fill="#FFFFFF"
        stroke="var(--primary-color)"
        stroke-width="1"
      />
    </svg>
  </div>
  <div class="overlay">
    <p class="event-name">{{ event.name }}</p>
    <div class="price-date-container">
      <p class="date-event">
        <i class="bi bi-compass-fill"></i>
        {{ formatDate(event.dateEvent.toString()) }}
      </p>
      <p *ngIf="event.price && event.price !== 0">
        <i class="bi bi-tags-fill"></i> {{ event.price }} rsd
      </p>
      <p *ngIf="!event.price || event.price === 0">
        <i class="bi bi-tags-fill"></i> FREE
      </p>
    </div>
    <p class="address">
      <i class="bi bi-geo-alt-fill"></i> {{ event.address }}
    </p>
    <xp-secondary-button
      *ngIf="
        !isAlreadyCheckedParticipate(event.id) &&
        user.role === 'student' &&
        !shouldShowLoader(event.id) &&
        this.router.url !== '/'
      "
      class="participation-button"
      buttonId="participation-button"
      buttonType="button"
      textValue="Prijavi se"
      iconClass="bi bi-star"
      (click)="participateEvent($event, event.id)"
    ></xp-secondary-button>

    <div
      class="loader-container"
      *ngIf="isLoading && shouldShowLoader(event.id) && this.router.url !== '/'"
    >
      <div class="spinner-border text-light" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <xp-secondary-button
      *ngIf="
        isAlreadyCheckedParticipate(event.id) &&
        user.role === 'student' &&
        this.router.url !== '/' &&
        isEventInFuture(event.dateEvent.toString())
      "
      class="participation-button"
      buttonId="participation-button"
      buttonType="button"
      textValue="Prijavi se"
      iconClass="bi bi-star-fill"
      [isCancelParticipationButton]="true"
      (click)="cancelEventParticipation($event, event.id)"
    ></xp-secondary-button>
    <p
      class="event-passed"
      *ngIf="!isEventInFuture(event.dateEvent.toString())"
    >
      Ovaj događaj je već održan.
    </p>
  </div>
</div>
