.component-container {
  width: 100%;
  margin-top: 4%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
}

.cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: flex-end;
  margin-top: 20px;
  margin-bottom: 40px;
}

.pagination button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  background-color: var(--primary-color);
  color: var(--background-color);
  cursor: pointer;
  border-radius: 5px;
}

.pagination button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  font-size: 18px;
}

.no-events {
  align-self: center;
  margin-top: 15%;
  margin-bottom: 15%;
  font-family: "Poppins", "sans-serif";
  font-size: 25px;
  color: var(--info-color);
}
