<div class="component-container">
  <div class="cards">
    <xp-event-card
      *ngFor="let event of pagedEvents; let i = index"
      [event]="event"
      [isMenuVisible]="menuVisibleIndex === i"
      (menuToggle)="onMenuToggle(i)"
    ></xp-event-card>
  </div>

  <div class="pagination">
    <button (click)="prevPage()" [disabled]="currentPage === 1">
      Prethodna
    </button>
    <span>Strana {{ currentPage }} od {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">
      Sledeća
    </button>
  </div>
</div>
