<div class="full-page-bg">
  <div class="page-content">
    <p>{{ title }}</p>
    <form [formGroup]="announcementForm" class="input-form">
      <div class="picture-info">
        <!-- Kontejner za galeriju slika -->
        <div class="container">
          <div class="add-pic-button">
            <xp-primary-button
              style="width: 100%"
              (click)="fileInput.click()"
              buttonId="filter-button"
              buttonType="button"
              textValue="Dodaj fotografije"
              iconClass="bi bi-images"
            >
              <input
                type="file"
                #fileInput
                (change)="onFileSelected($event)"
                style="display: none"
              />
            </xp-primary-button>
          </div>

          <div
            *ngIf="announcement.images.length != 0"
            class="fixed-container-pictures"
          >
            <div
              class="mySlides"
              *ngFor="let slide of announcement.images; let i = index"
            >
              <div class="numbertext">
                {{ i + 1 }} / {{ announcement.images.length }}
              </div>
              <img [src]="slide" style="width: 100%" />
              <div
                class="remove-image"
                (click)="removeImage(i)"
                matTooltip="Ukloni ovu fotografiju"
              >
                <i class="bi bi-trash3-fill"></i>
              </div>
            </div>

            <!-- Dugmad za sledeću i prethodnu sliku -->
            <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
            <a class="next" (click)="plusSlides(1)">&#10095;</a>
          </div>

          <div
            *ngIf="announcement.images.length == 0"
            class="default-container-picture"
          >
            <img src="..\..\assets\images\no-image.png" alt="no-pic" />
            <p>Trenutno nema dodatih fotografija.</p>
          </div>

          <div class="pagination-picture">
            <!-- Sličice slika -->
            <div
              class="column"
              *ngFor="let slide of announcement.images; let i = index"
            >
              <img
                class="demo cursor"
                [src]="slide"
                style="width: 100%"
                (click)="currentSlide(i + 1)"
                [alt]="slide"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="description-markdown">
        <cc-markdown-editor
          style="width: 100%"
          [control]="announcementForm.controls.content"
          label="Sadržaj obaveštenja"
          placeholderSentence="Unesite sadržaj obaveštenja ovde"
          [customErrorMessages]="{
            required: 'Sadržaj obaveštenja je obavezan!',
            minlength: 'Sadržaj mora imati najmanje 5 karaktera',
            maxlength: 'Sadržaj može imati najviše 1500 karaktera'
          }"
        >
        </cc-markdown-editor>
      </div>

      <div class="create-button">
        <div>
          <xp-primary-button
            *ngIf="!isEditMode"
            (click)="createAnnouncement()"
            buttonId="filter-button"
            buttonType="button"
            textValue="Kreiraj obaveštenje"
          >
          </xp-primary-button>
          <xp-primary-button
            *ngIf="isEditMode"
            (click)="updateAnnouncement()"
            style="width: 100%"
            buttonId="filter-button"
            buttonType="button"
            textValue="Izmeni obaveštenje"
          >
          </xp-primary-button>
        </div>
      </div>
    </form>
  </div>
</div>
