@import "~bootstrap-icons/font/bootstrap-icons.css";


.full-page-bg{
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../../../assets/images/background.png");
    background-size: cover;
    background-position: center;
}

.navbar-content{
    width: 20%;
}

.topbar-content{
    width: 100%;
}

.information-board{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}




@media (max-width : 750px) {
    .navbar-content{
        display: none;
    }
}
