@import "~bootstrap-icons/font/bootstrap-icons.css";

.home-full-page-bg {
  /*position: relative;*/
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: var(--background-color);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  margin-top: 8dvh;
}

.home-content {
  width: 80%;
  margin-left: 10%;
  margin-left: 10%;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  height: auto;
}

.description-app {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
  justify-content: center;
}

.animation {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: auto;
}

.description-app h1 {
  font-family: "Poppins", sans-serif;
  font-size: 45px;
  font-weight: 900;
  color: white;
  margin: 5px 0px 5px 0px;
  line-height: 1.2;
}

.description-app p {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: white;
  margin-top: 3%;
  text-align: justify;
  margin-right: 10%;
}

.description-appname {
  color: rgb(250, 250, 198);
  font-weight: 800;
}

.animation img {
  background-color: transparent;
}

.events-section{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

#events-section {
  scroll-margin-top: 8dvh;
}

.events {
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  height: auto;
}

.events p{
  display: inline;
  flex-wrap: wrap;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  text-align: justify;
  white-space: normal;
}


.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 2%;
}



.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-top: 2%;
  margin-bottom: 3%;
  box-sizing: border-box;
}

.section-title p {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap; 
  color: var(--primary-color);
  line-height: 1; 
  margin: 0; 
  padding: 0; 
  align-self: center;
}

.section-title::before,
.section-title::after {
  content: "";
  flex-grow: 1;
  height: 0;
  border-top: 3px dashed #cecece;
}

.section-title::before {
  margin-right: 30px;
}

.section-title::after {
  margin-left: 30px;
}


.clubs-section{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

#clubs-section {
  scroll-margin-top: 8dvh;
}


.show-more{
  border-radius: 18px;
  background-color: #cecece;
  color: white;
  padding: 10px;
  border: none;
}

/*RESPONZIVNOST VELICINE EKRANA */

/*Ako je ekran manji od 1500px broj kartica u redu 3*/

@media (max-width: 1300px) {
  .one-card {
    width: calc(50% - 20px);
    /* Dva u redu */
  }

  .slider {
    height: 55vh !important;
  }

  .banner {
    height: 55vh !important;
  }

  .content {
    margin-top: 20dvh !important;
    margin-left: 17.5dvw !important;
  }

  .content h1 {
    font-size: 35px !important;
  }
}

@media (max-width: 700px) {
  .one-card {
    width: calc(100% - 20px);
    /* Jedan u redu */
  }

  .slider {
    height: 35vh !important;
  }

  .banner {
    height: 35vh !important;
  }

  .content {
    margin-top: 15dvh !important;
    margin-left: 17.5dvw;
  }

  .content h1 {
    font-size: 20px !important;
  }
}

@media (max-width: 1170px) {
  .home-content {
    flex-direction: column;
    align-items: center;
  }

  .description-app,
  .animation {
    width: 100%;
    text-align: center;
  }

  .description-app p {
    margin-right: 0;
    /* Uklanjanje margine desno */
  }

  .navbar-item p {
    font-size: 18px;
  }
}

@media (max-width: 850px) {
  .description-app h1 {
    font-size: 35px;
    /* Smanjujemo font */
  }

  .description-app p {
    font-size: 14px;
    /* Smanjujemo font */
  }

  .events p {
    font-size: 18px;
  }

  .slider {
    height: 40vh !important;
  }

  .banner {
    height: 40vh !important;
  }

  .content {
    margin-top: 15dvh !important;
    margin-left: 17.5dvw !important;
  }

  .content h1 {
    font-size: 25px !important;
  }
}

@media (max-width: 550px) {
  .description-app h1 {
    font-size: 25px;
    /* Smanjujemo font */
  }

  .description-app p {
    font-size: 10px;
    /* Smanjujemo font */
  }

  .events p {
    font-size: 14px;
  }

  .slider {
    height: 25vh !important;
  }

  .banner {
    height: 25vh !important;
  }

  .content {
    margin-top: 7dvh !important;
    margin-left: 17.5dvw !important;
  }

  .content h1 {
    font-size: 18px !important;
  }
}

.dropdown-content {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 50%;
  height: auto;
  margin-right: 3%;
}

.burger-icon {
  font-size: 30px;
  cursor: pointer;
  color: white;
}

.dropdown-contentt {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 85px;
  background-color: rgba(90, 90, 90, 0.9);
  border-radius: 15px;
  padding: 10px;
  z-index: 1000;
}

.dropdown-contentt.show {
  display: flex;
}

@media (max-width: 850px) {
  .navbar-button {
    display: none;
    /* Sakrivamo stare buttone */
  }

  .navbar-dropdown {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .navbar-dropdown select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }
}

.banner {
  width: 100%;
  height: 92dvh;
  position: relative;
  overflow: hidden;
}

.slider {
  width: 100dvw;
  height: 92dvh;
  position: absolute;
  top: 0;
}

#slideImg {
  width: 100%;
  height: 100%;
  transition: opacity 3s ease-in-out;
}

#slideImg.fade {
  opacity: 0.2;
}

.overlay2 {
  width: 100%;
  height: 92dvh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  position: absolute;
  top: 0;
  color: white;
}

.content {
  width: 65dvw;
  height: auto;
  margin-top: 30dvh;
  margin-left: 17.5dvw;
  text-align: center;
  /* background-color: red; */
  transition: opacity 1s ease-in-out;
}

.content h1 {
  font-size: 60px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}

.content.fade {
  opacity: 0;
}


.dots{
  position: relative;
  text-align: center;
  top: 80dvh;
}

.dot {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: 0 8px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.active, .dot:hover {
  background-color: var(--primary-color);
}