<div class="home-full-page-bg">
    <div class="navbar-content">
        <div class="navbar-element">
            <div class="navbar-element-nameapp">
                <p><i class="bi bi-house-fill" style="margin-right: 10px;"></i>Student Support</p>
            </div>
            <div class="navbar-button">
                
                <div class="login-button">
                    <p (click)="loginClick()">Prijava</p>
                </div>
                <div class="login-button">
                    <p (click)="registerClick()">Registracija</p>
                </div>
            </div>
        </div>
        
    </div>
    <div class="home-content">
        <div class="description-app">
            <h1>Dobrodošli na stranicu za</h1>
            <h1> podršku studentima!</h1>
            <p> Ova stranica je namjenjena prvenstveno za studente Univerziteta u Novom Sadu. Ona služi kako bi studentima olakšala njihov studentski život u Novom Sadu.
                 Cilj je da vam pružimo podršku u svim aspektima studentskog života, bilo da je to akademska podrška, saveti za mentalno zdravlje,
                  karijerno usmeravanje ili jednostavno mesto gde možete pronaći zajednicu koja vas podržava i informiše o raznim dešavanjima na kampusu 
                  i u Novom Sadu.
                <br>
                <br>
                Pored ove web stranice dostupna je i mobilna aplikacija za Android uređaje koje možete preuzeti putem Google Play-a:</p>
                <div class="google-play-button">
                    
                    <p><i class="bi bi-google-play" style="margin-right: 5px;"></i>Google play</p>
                </div>
        </div>
        <div class="animation">
            <img src="../../../../assets/images/picture.png" alt="">
        </div>
    </div>
    <div class="events">
        <p>Predstojeći događaji:</p>
        <div class="tab-select">
            <div class="tab" 
                 [ngClass]="{'active': selectedTab === 'all'}" 
                 (click)="selectTab('all')">
                <p>Svi događaji</p>
            </div>
            <div class="tab" 
                 [ngClass]="{'active': selectedTab === 'conference'}" 
                 (click)="selectTab('conference')">
                <p>Konferencije i seminari</p>
            </div>
            <div class="tab" 
                 [ngClass]="{'active': selectedTab === 'workshops'}" 
                 (click)="selectTab('workshops')">
                <p>Radionice i kursevi</p>
            </div>
            <div class="tab" 
                 [ngClass]="{'active': selectedTab === 'cultural'}" 
                 (click)="selectTab('cultural')">
                <p>Kultorološki</p>
            </div>
            <div class="tab" 
                 [ngClass]="{'active': selectedTab === 'fair'}" 
                 (click)="selectTab('fair')">
                <p>Sajamski</p>
            </div>
            <div class="tab" 
                 [ngClass]="{'active': selectedTab === 'charity'}" 
                 (click)="selectTab('charity')">
                <p>Humanitarni</p>
            </div>
            <div class="tab" 
                 [ngClass]="{'active': selectedTab === 'exhibitions'}" 
                 (click)="selectTab('exhibitions')">
                <p>Izložbe i predstave</p>
            </div>
            <div class="tab" 
                 [ngClass]="{'active': selectedTab === 'parties'}" 
                 (click)="selectTab('parties')">
                <p>Žurke i društveni događaji</p>
            </div>
            <div class="tab" 
                 [ngClass]="{'active': selectedTab === 'competitions'}" 
                 (click)="selectTab('competitions')">
                <p>Takmičenja</p>
            </div>
            <div class="tab" 
                 [ngClass]="{'active': selectedTab === 'travels'}" 
                 (click)="selectTab('travels')">
                <p>Putovanja</p>
            </div>
        </div>

        <div class="cards">
            <div class="one-card" *ngFor="let event of pagedEvents" [ngStyle]="{'background-image': 'url(' + event.image + ')'}">
                <div class="type-event">
                    <p [ngStyle]="{'background-color': eventTypeColors[event.eventType]}"
                            [innerText]="eventType[event.eventType] || event.eventType"></p>

                </div>
                <div class="overlay">
                    <p>{{ event.name }}</p>
                    <p class="date-event">14.7.2024. 15:00</p>
                    <p class="address">{{event.address}}</p>
                    <p *ngIf="false" class="description" [innerHTML]="renderTruncatedMarkdown(event.description, 400)"></p>
                </div>
            </div>
            
        </div>

        <div class="pagination">
            <button (click)="prevPage()" [disabled]="currentPage === 1">Prethodna</button>
            <span>Strana {{ currentPage }} od {{ totalPages }}</span>
            <button (click)="nextPage()" [disabled]="currentPage === totalPages">Sledeća</button>
        </div>

    </div>

    <footer class="footer">
        <div class="waves">
          <div class="wave" id="wave1"></div>
          <div class="wave" id="wave2"></div>
          <div class="wave" id="wave3"></div>
          <div class="wave" id="wave4"></div>
        </div>
        <ul class="social-icon">
            <li class="social-icon__item"><a class="social-icon__link" href="#">
                <ion-icon name="logo-facebook"></ion-icon>
              </a></li>
            <li class="social-icon__item"><a class="social-icon__link" href="#">
                <ion-icon name="logo-twitter"></ion-icon>
              </a></li>
            <li class="social-icon__item"><a class="social-icon__link" href="#">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a></li>
            <li class="social-icon__item"><a class="social-icon__link" href="#">
                <ion-icon name="logo-instagram"></ion-icon>
              </a></li>
          </ul>
        <ul class="menu">
          <li class="menu__item"><a class="menu__link" href="/">Home</a></li>
          <li class="menu__item"><a class="menu__link" href="#">About</a></li>
          <li class="menu__item"><a class="menu__link" href="#">Services</a></li>
          <li class="menu__item"><a class="menu__link" href="#">Team</a></li>
          <li class="menu__item"><a class="menu__link" href="#">Contact</a></li>
    
        </ul>
        <p>&copy;2024 Student support | All Rights Reserved</p>
    </footer>
</div>