@import "~bootstrap-icons/font/bootstrap-icons.css";


.home-full-page-bg {
    /*position: relative;*/
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-image: url("../../../../assets/images/body-bg-shadows.png");
    /* background-color: whi; */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}


.navbar-content {
    background-color: #002f56;
    position: sticky;
    top: 0;
    width: 100%;
    height: 8dvh;
    /*position: absolute;*/
    padding: 10px;
    z-index: 1000;
}

.navbar-element {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.navbar-element-nameapp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.navbar-element-nameapp img {
    width: 60px;
    height: 60px;
}

.navbar-element-nameapp p {
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;


}

.navbar-button {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 50%;
    height: auto;
    margin-right: 3%;
}

.navbar-button img {
    height: 40px;
    width: 5px;
}

.navbar-item {
    display: flex;
    height: 100%;
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
}

.navbar-item p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    margin: 5px;
    color: white;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    transition: transform 0.3s ease;
}

.navbar-item p:hover {
    color: #5271ff;
    cursor: pointer;
    border-bottom: 2px solid #5271ff;
    transform: scale(1.07);
}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: auto;
    width: 20%;
}


.login-button p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
    margin: auto;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    background-color: rgb(224, 62, 62);
    color: white;
    border-radius: 15px;
    transition: background-color 0.4s ease-in-out;
}

.login-button p:hover {
    background-image: none;
    background-color: rgb(136, 11, 11);
}



.home-content {
    width: 80%;
    margin-left: 10%;
    margin-left: 10%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    height: auto;
}

.description-app {
    width: 50%;
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: center;
    /*opacity: 0;
    animation: fadeIn 1.5s ease-out forwards;*/
}

/*
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(100px);  Početni položaj teksta 
    }
    to {
        opacity: 1;
        transform: translateX(0);  Krajnji položaj teksta 
    }
}*/

.animation {
    width: 50%;
    display: flex;
    flex-direction: column;
    height: auto;
}

.description-app h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: 900;
    color: white;
    margin: 5px 0px 5px 0px;
    line-height: 1.2;
}

.description-app p {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: white;
    margin-top: 3%;
    text-align: justify;
    margin-right: 10%;
}

.description-appname {
    color: rgb(250, 250, 198);
    font-weight: 800;
}

.animation img {
    background-color: transparent;
}


.events {
    width: 80%;
    margin-left: 10%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    height: auto;
}

.events p {
    font-size: 30px;
    font-weight: bold;
    color: #002f56;
    font-family: 'Poppins', sans-serif;
    align-self: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 2%;
}

.one-card {
    position: relative;
    width: calc(25% - 20px);
    height: 450px;
    border: 1px solid black;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    margin-bottom: 20px;
    margin-right: 20px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.one-card:hover {
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    border: 2px solid black;
    transform: scale(1.05);
    /* Ovo će povećati veličinu kartice */
}

.type-event {
    display: flex;
}

.type-event p {
    color: white;
    font-size: 15px;
    padding: 8px;
    border-radius: 10px;
    width: auto;
    align-items: start;
    justify-content: start;
    margin: 5px;
}

.overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(107, 107, 107, 0.9);
    /*background-image:linear-gradient(rgba(82, 82, 82, 0.3), rgb(39, 39, 39, 0.8));*/
    color: white;
    text-align: left;
    padding: 10px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.overlay p {
    font-size: 20px;
    color: white;

}

.overlay .date-event {
    /* color: rgb(76, 161, 231); */
    color: white;
    font-size: 15px;
    font-weight: 500;
    font-weight: bold;
    margin: 5px 0;
}

.overlay .address {
    color: white;
    font-size: 14px;
}

.overlay .description {
    font-size: 12px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.pagination button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    background-color: rgb(2, 2, 100);
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.pagination button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination span {
    font-size: 18px;
}




.footer {
    margin-top: 130px;
    position: relative;
    width: 100%;
    background: rgb(2, 2, 100);
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icon,
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
    list-style: none;
}

.social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.social-icon__link:hover {
    transform: translateY(-10px);
}

.menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
}

.menu__link:hover {
    opacity: 1;
}

.footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
}

.wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("../../../../assets/images/wave.png");
    background-size: 1000px 100px;
}

.wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
}

.wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
}

@keyframes animateWaves {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-positon-x: 0px;
    }
}

@keyframes animate {
    0% {
        background-position-x: -1000px;
    }

    100% {
        background-positon-x: 0px;
    }
}



/*RESPONZIVNOST VELICINE EKRANA */

/*Ako je ekran manji od 1500px broj kartica u redu 3*/


@media (max-width: 1300px) {
    .one-card {
        width: calc(50% - 20px);
        /* Dva u redu */
    }

    .slider {
        height: 55vh !important;
    }

    .banner {
        height: 55vh !important;
    }

    .content {
        margin-top: 20dvh !important;
        margin-left: 17.5dvw !important;
    }

    .content h1 {
        font-size: 35px !important;
    }
}

@media (max-width: 700px) {
    .one-card {
        width: calc(100% - 20px);
        /* Jedan u redu */
    }

    .slider {
        height: 35vh !important;
    }

    .banner {
        height: 35vh !important;
    }

    .content {
        margin-top: 15dvh !important;
        margin-left: 17.5dvw;
    }

    .content h1 {
        font-size: 20px !important;
    }
}



@media (max-width: 1170px) {
    .home-content {
        flex-direction: column;
        align-items: center;
    }

    .description-app,
    .animation {
        width: 100%;
        text-align: center;
    }

    .description-app p {
        margin-right: 0;
        /* Uklanjanje margine desno */
    }

    .navbar-item p {
        font-size: 18px;
    }
}



@media (max-width: 850px) {
    .description-app h1 {
        font-size: 35px;
        /* Smanjujemo font */
    }

    .description-app p {
        font-size: 14px;
        /* Smanjujemo font */
    }

    .events p {
        font-size: 18px;
    }

    .slider {
        height: 40vh !important;
    }

    .banner {
        height: 40vh !important;
    }

    .content {
        margin-top: 15dvh !important;
        margin-left: 17.5dvw !important;
    }

    .content h1 {
        font-size: 25px !important;
    }
}

@media (max-width: 550px) {
    .description-app h1 {
        font-size: 25px;
        /* Smanjujemo font */
    }

    .description-app p {
        font-size: 10px;
        /* Smanjujemo font */
    }

    .events p {
        font-size: 14px;
    }

    .slider {
        height: 25vh !important;
    }

    .banner {
        height: 25vh !important;
    }

    .content {
        margin-top: 7dvh !important;
        margin-left: 17.5dvw !important;
    }

    .content h1 {
        font-size: 18px !important;
    }
}


.dropdown-content {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 50%;
    height: auto;
    margin-right: 3%;
}


.burger-icon {
    font-size: 30px;
    cursor: pointer;
    color: white;
}

.dropdown-contentt {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 85px;
    background-color: rgba(90, 90, 90, 0.9);
    border-radius: 15px;
    padding: 10px;
    z-index: 1000;
}

.dropdown-contentt.show {
    display: flex;
}

@media (max-width: 850px) {
    .navbar-button {
        display: none;
        /* Sakrivamo stare buttone */
    }

    .navbar-dropdown {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .navbar-dropdown select {
        width: 100%;
        padding: 10px;
        font-size: 16px;
    }
}

.banner {
    width: 100%;
    height: 92dvh;
    position: relative;
    overflow: hidden;
}


.slider {
    width: 100dvw;
    height: 92dvh;
    position: absolute;
    top: 0;
}

#slideImg {
    width: 100%;
    height: 100%;
    transition: opacity 3s ease-in-out;
}

#slideImg.fade {
    opacity: 0.2;
}

.overlay2 {
    width: 100%;
    height: 92dvh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    position: absolute;
    top: 0;
    color: white;
}

.content {
    width: 65dvw;
    height: auto;
    margin-top: 30dvh;
    margin-left: 17.5dvw;
    text-align: center;
    /* background-color: red; */
    transition: opacity 1s ease-in-out;
}

.content h1 {
    font-size: 60px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

.content.fade {
    opacity: 0;
}