<div class="home-full-page-bg">
    <div class="navbar-content">
        <div class="navbar-element">
            <div class="navbar-element-nameapp">
                <p><i class="bi bi-house-fill" style="margin-right: 10px;"></i>Student Support</p>
            </div>
            <div class="navbar-button">
                
                <div class="login-button">
                    <p (click)="loginClick()">Prijava</p>
                </div>
                <div class="login-button">
                    <p (click)="registerClick()">Registracija</p>
                </div>
            </div>
        </div>
        
    </div>
    <div class="home-content">
        <div class="description-app">
            <h1>Dobrodošli na stranicu za</h1>
            <h1> podršku studentima!</h1>
            <p> Ova stranica je namjenjena prvenstveno za studente Univerziteta u Novom Sadu. Ona služi kako bi studentima olakšala njihov studentski život u Novom Sadu.
                 Cilj je da vam pružimo podršku u svim aspektima studentskog života, bilo da je to akademska podrška, saveti za mentalno zdravlje,
                  karijerno usmeravanje ili jednostavno mesto gde možete pronaći zajednicu koja vas podržava i informiše o raznim dešavanjima na kampusu 
                  i u Novom Sadu.
                <br>
                <br>
                Pored ove web stranice dostupna je i mobilna aplikacija za Android uređaje koje možete preuzeti putem Google Play-a:</p>
                <div class="google-play-button">
                    
                    <p><i class="bi bi-google-play" style="margin-right: 5px;"></i>Google play</p>
                </div>
        </div>
        <div class="animation">
            <img src="../../../../assets/images/picture.png" alt="">
        </div>
    </div>
</div>