<div class="full-page-bg">
  <div class="page-container">
    <div class="left-bar">

      <div class="search-events">
        <xp-input class="input-search"
          [inputType]="'text'"
          [label]="''"
          [control]="searchControl"
          inputId="searchInput"
          placeholderSentence="Pretraži događaje"
          (keydown.enter)="searchEvent(searchControl.value!)"
        ></xp-input>
        <p (click)="searchEvent(searchControl.value!)">
          <i class="bi bi-search"></i>
        </p>
      </div>

      <div class="buttons-tab">
        <p [ngClass]="{'active': activeTab === 'allEvents'}"  (click)="changeActiveTab('allEvents')"><i class="bi bi-calendar-event-fill" style="margin-right: 10px;"></i>Svi događaji</p>
        <p [ngClass]="{'active': activeTab === 'yourEvents'}" (click)="changeActiveTab('yourEvents')" *ngIf="user.role ==='author'"><i class="bi bi-bookmark-star-fill" style="margin-right: 10px;"></i>Vaši događaji</p>
        <p [ngClass]="{'active': activeTab === 'yourInterests'}"  (click)="changeActiveTab('yourInterests')" *ngIf="user.role ==='student'"><i class="bi bi-star-fill" style="margin-right: 10px;"></i>Vaša interesovanja</p>

        <xp-primary-button
          *ngIf="user.role ==='author'"
          class="create-event"
          buttonId="create-event-button"
          buttonType="button"
          textValue="Napravi novi događaj"
          (OnClick)="createEvent()"
        >
        </xp-primary-button>

      </div>


      <div class="filter-section">
        <p class="filter-type-title">Tipovi događaja:</p>
        <div class="checkboxs">
          <div class="first-column">
            <div class="checkbox-input">
              <input type="checkbox" id="conference" value="AcademicConferenceAndSeminars" class="event-checkbox"  (change)="onCheckboxChange()">
              <label for="conference">Konferencije</label>
            </div>
            <div class="checkbox-input">
              <input type="checkbox" id="courses" value="WorkshopsAndCourses" class="event-checkbox"  (change)="onCheckboxChange()">
              <label for="courses">Kursevi</label>
            </div>
            <div class="checkbox-input">
              <input type="checkbox" id="cultural" value="CulturalEvent" class="event-checkbox"  (change)="onCheckboxChange()">
              <label for="cultural">Kulturni</label>
            </div>
            <div class="checkbox-input">
              <input type="checkbox" id="fair" value="Fair" class="event-checkbox"  (change)="onCheckboxChange()">
              <label for="fair">Sajamski</label>
            </div>
            <div class="checkbox-input">
              <input type="checkbox" id="humanitarian" value="HumanitarianEvent" class="event-checkbox"  (change)="onCheckboxChange()">
              <label for="humanitarian">Humanitarni</label>
            </div>

          </div>

          <div class="second-column">
            <div class="checkbox-input">
              <input type="checkbox" id="art" value="ArtExhibitionsAndPerformances" class="event-checkbox"  (change)="onCheckboxChange()">
              <label for="art">Umjetnički</label>
            </div>
            <div class="checkbox-input">
              <input type="checkbox" id="social" value="StudentPartiesAndSocialEvents" class="event-checkbox"  (change)="onCheckboxChange()">
              <label for="social">Društveni</label>
            </div>
            <div class="checkbox-input">
              <input type="checkbox" id="competition" value="Competitions" class="event-checkbox"  (change)="onCheckboxChange()">
              <label for="competition">Takmičenja</label>
            </div>
            <div class="checkbox-input">
              <input type="checkbox" id="trip" value="StudentTrips" class="event-checkbox"  (change)="onCheckboxChange()">
              <label for="trip">Putovanja</label>
            </div>
            <div class="checkbox-input">
              <input type="checkbox" id="others" value="Other" class="event-checkbox"  (change)="onCheckboxChange()">
              <label for="others">Ostalo</label>
            </div>

          </div>
        </div>

        <p class="filter-title">Datum događaja:</p>
        <div class="date-events">
            <label>
              <input type="radio" name="dateFilter" value="today">
              Danas
            </label>
            <label>
              <input type="radio" name="dateFilter" value="tommorow">
              Sutra
            </label>
            <label>
              <input type="radio" name="dateFilter" value="thisweek">
              Ove sedmice
            </label>
            <label>
              <input type="radio" name="dateFilter" value="thismonth">
              Ovaj mjesec
            </label>
            <label>
              <input type="radio" name="dateFilter" value="pickdate">
              Izaberi opseg...
            </label>


        </div>

        <p class="filter-title">Cena ulaznica (RSD):</p>

        <div class="price-input">

          <label>
            <input type="radio" name="dateFilter" value="today">
            Besplatno
          </label>
          <label>
            <input type="radio" name="dateFilter" value="tommorow">
            Plaća se ulaz
          </label>

        </div>


      </div>
      

    </div>

    <div class="events">
      <p class="findout" *ngIf="activeTab == 'allEvents'">Otkrijte nove događaje</p>
      <div class="searched" *ngIf="activeTab == 'allEvents' && searchName != ''">
        <p>Pretražili ste:  "{{searchName}}"</p>
        <i class="bi bi-x-circle-fill" matTooltip="Izbriši pretragu" matTooltipPosition="above" (click)="clearSearchName()"></i>
      </div>
      <div class="cards">
        <xp-event-card
          *ngFor="let event of pagedEvents"
          [event]="event"
        ></xp-event-card>
      </div>

      <div class="pagination">
        <button (click)="prevPage()" [disabled]="currentPage === 1">
          Prethodna
        </button>
        <span>Strana {{ currentPage }} od {{ totalPages }}</span>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages">
          Sledeća
        </button>
      </div>
    </div>
  </div>
</div>
