@import "~bootstrap-icons/font/bootstrap-icons.css";

.full-page-bg {
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;
  width: 100%;
  overflow-y: auto;
  background-color: var(--background-color);
  background-size: cover;
  background-position: center;
}

.page-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.filters {
  width: 20%;
  height: 100%;
  position: fixed;
  border-right: 1px solid black;
  top:8dvh;
}

.filters-title {
  display: flex;
  justify-content: left;
  align-items: center;
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 25px;
  margin: 4%;
}

.filter-date {
  display: flex;
  justify-content: left;
  align-items: center;
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin-top: 10%;
  margin-left: 5%;
}

:host ::ng-deep .p-calendar {
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2% 5% 3% 5%;
}

:host ::ng-deep .p-calendar .p-datepicker table td.p-datepicker-today > span,
:host
  ::ng-deep
  .p-calendar
  .p-datepicker
  table
  td.p-datepicker-today
  > span:hover {
  background-color: #020264;
  color: white;
  font-weight: bold;
}

.filter-type {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2% 5% 3% 5%;
  width: 90%;
  border-radius: 5px;
  cursor: pointer;
  height: 38px;
}

option {
  font-size: 18px;
  padding: 4%;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.events {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 20%;
}

/* Stilizacija skrol trake */
.events::-webkit-scrollbar {
  width: 12px;
  /* Širina skrol trake */
}

.events::-webkit-scrollbar-track {
  background: rgba(131, 131, 131, 0.4);
  /* Pozadina skrol trake */
  border-radius: 15px;
}

.events::-webkit-scrollbar-thumb {
  background: white;
  /* Boja skrol trake */
  border-radius: 15px;
  /* Zaobljeni uglovi skrol trake */
}

.events::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  /* Boja skrol trake pri hover efektu */
}

.events p {
  font-size: 28px;
  font-weight: 500;
  color: white;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 2%;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.pagination button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  background-color: rgb(2, 2, 100);
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  font-size: 18px;
}

/*@media (max-width: 1600px) {
  .one-card {
    width: calc(50% - 20px);
    //Dva u redu 
  }
}

@media (max-width: 1000px) {
  .filters {
    display: none;
  }

  .events {
    width: 100%;
  }
}

@media (max-width: 580px) {
  .one-card {
    width: calc(100% - 20px);
    // Jedan u redu 
  }
}

@media (max-width: 750px) {
  .navbar-content {
    display: none;
  }
}*/
