@import "~bootstrap-icons/font/bootstrap-icons.css";

.full-page-bg {
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;
  width: 100%;
  height: 90dvh;
  background-image: url("../../../../assets/images/background2.jpg");
  /* background-color: white; */
  background-size: cover;
  background-position: center;
}

.information-board {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page-container {
  display: flex;
  flex-direction: row;
  width: 94%;
  margin: 3%;
  height: calc(100% - 100px);
  gap: 10px;
}

.filters {
  width: 20%;
  height: 100%;
  border-radius: 15px;
  background-color: rgba(131, 131, 131, 0.3);
  border: 1px solid #ccc;
}

.filters-title {
  display: flex;
  justify-content: left;
  align-items: center;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 25px;
  margin: 4%;
}

.filter-date {
  display: flex;
  justify-content: left;
  align-items: center;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin-top: 10%;
  margin-left: 5%;
}

:host ::ng-deep .p-calendar {
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2% 5% 3% 5%;
}

:host ::ng-deep .p-calendar .p-datepicker table td.p-datepicker-today>span,
:host ::ng-deep .p-calendar .p-datepicker table td.p-datepicker-today>span:hover {
  background-color: #020264;
  color: white;
  font-weight: bold;
}

.filter-type {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2% 5% 3% 5%;
  width: 90%;
  border-radius: 5px;
  cursor: pointer;
  height: 38px;
}

option {
  font-size: 18px;
  padding: 4%;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.events {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  overflow-y: auto;
  background-color: rgba(131, 131, 131, 0.3);
  border-radius: 15px;
  border: 1px solid #ccc;
}

/* Stilizacija skrol trake */
.events::-webkit-scrollbar {
  width: 12px;
  /* Širina skrol trake */
}

.events::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Pozadina skrol trake */
  border-radius: 15px;
}

.events::-webkit-scrollbar-thumb {
  background: #5271ff;
  /* Boja skrol trake */
  border-radius: 15px;
  /* Zaobljeni uglovi skrol trake */
}

.events::-webkit-scrollbar-thumb:hover {
  background: #002f56;
  /* Boja skrol trake pri hover efektu */
}

.events p {
  font-size: 28px;
  font-weight: 500;
  color: white;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 2%;
}

.one-card {
  position: relative;
  width: calc(25% - 20px);
  height: 450px;
  border: 1px solid black;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  margin-bottom: 20px;
  margin-right: 20px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.one-card:hover {
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  border: 2px solid black;
  transform: scale(1.05);
}

.type-event {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.type-event button {
  margin-right: 2%;
  margin-top: 1%;
  background: rgba(107, 107, 107, 0.9);
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  font-size: 17px;
  transition: transform 0.3s, background-color 0.5s;
  font-family: "Poppins", sans-serif;
}

.type-event button:active {
  transform: scale(0.95);
}

.type-event button:hover {
  background: rgba(66, 66, 66, 0.9);
}

.type-event p {
  color: white;
  font-size: 15px;
  padding: 8px;
  border-radius: 10px;
  width: auto;
  align-items: start;
  justify-content: start;
  margin: 5px;
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(107, 107, 107, 0.9);
  /*background-image:linear-gradient(rgba(82, 82, 82, 0.3), rgb(39, 39, 39, 0.8));*/
  color: white;
  text-align: left;
  padding: 10px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.overlay p {
  font-size: 20px;
}

.overlay .date-event {
  color: white;
  font-size: 15px;
  font-weight: 500;
  font-weight: bold;
  margin: 5px 0;
  text-decoration: underline;
}

.overlay .address {
  color: white;
  font-size: 14px;
}

.overlay .description {
  font-size: 12px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.pagination button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  background-color: rgb(2, 2, 100);
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  font-size: 18px;
}

@media (max-width: 1600px) {
  .one-card {
    width: calc(50% - 20px);
    /* Dva u redu */
  }
}

@media (max-width: 1000px) {
  .filters {
    display: none;
  }

  .events {
    width: 100%;
  }
}

@media (max-width: 580px) {
  .one-card {
    width: calc(100% - 20px);
    /* Jedan u redu */
  }
}

@media (max-width: 750px) {
  .navbar-content {
    display: none;
  }
}