<div class="home-full-page-bg">
    <div class="validation-error" *ngIf="wrongCredential"><p>Korisnicko ime ili lozinka su neispravni ili nevažeći</p></div>
    <div class="login-form-content">
        <h2 class="title-login-form">Prijava</h2>
            <div class="username-field">
                <p>Korisnicko ime:</p>
                <input type="text" #usernameInput [ngClass]="{'red-border': validUsername}"/>
                <p style="color: red; font-size: 12px;" *ngIf="validUsername">Morate unijeti korisniko ime!</p>
            </div>
            <div class="password-field">
                <p>Lozinka:</p>
                <div class="password-input">
                    <input class="password" [type]="fieldTextType ? 'password' : 'text'" #passwordInput [ngClass]="{'red-border': validPassword}"/>
                    <i
                        (click)="changeBiEye()"
                        class="bi"
                        [ngClass]="{
                            'bi-eye-slash-fill': fieldTextType,
                            'bi-eye-fill': !fieldTextType
                        }"
                        ></i>
                    <p style="color: red; font-size: 12px;" *ngIf="validPassword">Morate unijeti sifru!</p>
                </div>
                
            </div>

            <div class="button-login">
                <button (click)="login(usernameInput.value, passwordInput.value)">Prijavi se</button>
            </div>

            <div class="google-login">
                <p>Ili se prijavi pomocu:</p>
                <div id="google-btn">
                    
                </div>
                
            </div>

            <div class="register">
                <p>Ako nemate nalog, mozete da se registujete <span class="register-link" (click)="registerClick()">ovde</span>.</p>

            </div>
        
        
        
    </div>
</div>