<div class="home-full-page-bg">
    <div class="login-form-content">
        <h2 class="title-login-form">Prijava</h2>
            <div class="username-field">
                <p>Korisnicko ime ili UNS mail:</p>
                <input type="text" #usernameInput />
            </div>
            <div class="password-field">
                <p>Lozinka:</p>
                <div class="password-input">
                    <input class="password" [type]="fieldTextType ? 'password' : 'text'" #passwordInput />
                    <i
                        (click)="changeBiEye()"
                        class="bi"
                        [ngClass]="{
                            'bi-eye-slash-fill': fieldTextType,
                            'bi-eye-fill': !fieldTextType
                        }"
                        ></i>
                </div>
                
            </div>

            <div class="button-login">
                <button (click)="login(usernameInput.value, passwordInput.value)">Prijavi se</button>
            </div>

            <div class="google-login">
                <p>Ili se prijavi pomocu:</p>
                <div id="google-btn">
                    
                </div>
                
            </div>
        
        
        
    </div>
</div>