<xp-navbar
  *ngIf="
    this.router.url !== '/login' &&
    this.router.url !== '/register' &&
    !this.router.url.startsWith('/check-email') &&
    !this.router.url.startsWith('/verify-email') &&
    this.router.url !== '/card'
  "
>
</xp-navbar>
<router-outlet></router-outlet>
<app-footer
  *ngIf="
    !this.router.url.startsWith('/events-page') &&
    !this.router.url.startsWith('/clubs-page') &&
    this.router.url !== '/login' &&
    this.router.url !== '/register' &&
    !this.router.url.startsWith('/verify-email') &&
    !this.router.url.startsWith('/check-email')
  "
></app-footer>
