@import "~bootstrap-icons/font/bootstrap-icons.css";

.full-page-bg {
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: white;
  background-size: cover;
  background-position: center;
}

.page-content{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 15px;
  background-color: rgba(131, 131, 131, 0.3);
  border: 1px solid #ccc;
}

.page-content p{
  font-size: 30px;
  font-weight: 900;
  color: #002f56;
  font-family: 'Poppins', sans-serif;
  align-self: center;
  margin: 2%;
}


.input-form{
  display: flex;
  flex-direction: row;
  height: 80%;
  margin-left: 3%;
  margin-right: 3%;
}
.text-info{
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 100%;
}


.form__group {
  position: relative;
  padding: 20px 0 0;
  margin: 3% 5%;
  width: 90%;
}

.form__field {
  font-family: 'Poppins','sans-serif' !important;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: rgb(83, 83, 223);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #838383;
  font-family: 'Poppins', sans-serif;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: rgb(83, 83, 223);
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, rgb(83, 83, 223),rgb(157, 157, 216));
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}

.description__group {
  position: relative;
  padding: 20px 0 0;
  margin: 3% 5%;
  width: 90%;

  .description__field {
    font-family: 'Poppins' , 'sans-serif';
    width: 100%;
    height: 250px;
    border-bottom: 1px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: rgb(83, 83, 223);
    padding: 7px 0px;
    background: transparent;
    transition: border-color 0.2s;
    resize: none;
    line-height: 1.5;
  
    &::placeholder {
      color: transparent;
    }
  
    &:placeholder-shown ~ .description__label {
      font-size: 1.3rem;
      cursor: text;
      top: 20px;
    }
  }
  
  
    .description__label {
      position: absolute;
      top: -4px;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: #838383;
      font-family: 'Poppins', sans-serif;
    }
    
    .description__field:focus {
      ~ .description__label {
        position: absolute;
        top: -4px;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: rgb(83, 83, 223);
        font-weight:700;    
      }
      padding-bottom: 6px;  
      font-weight: 700;
      border-width: 3px;
      border-image: linear-gradient(to right, rgb(83, 83, 223),rgb(157, 157, 216));
      border-image-slice: 1;
    }
    /* reset input */
    .description__field{
      &:required,&:invalid { box-shadow:none; }
    }
  
    .emoji-picker {
      position: absolute;
      right: 5%;
      top: 90%;
      transform: translateY(-50%);
      cursor: pointer;
      color: #838383;
      transition: color 0.2s;
      font-size: 20px;
  }
  .emoji-picker:hover{
      color: rgb(83, 83, 223);
  }
  .description__group:focus-within .emoji-picker {
      color: rgb(83, 83, 223);
  }

  .emoji-mart{
    position: absolute;
    left: 100%;
    bottom: 0%;  
    z-index: 1000;       
  } 
}

.separator{
    height: auto; 
    background-color: #000; 
    width: 1px;  
    margin-top: 1%;
    margin-bottom: 4%;
}

.pictures{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
}

.container-pictures{
    margin: 5% 10%;
    width: 80%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    border: 1px solid gray;
}

.dialog-pictures{
    display: flex;
    width: 94%;
    height: 94%;
    margin: 3% 3%;
    background-color: rgb(245, 245, 245);
    cursor: pointer;
    justify-content: center;
    align-items: center;

}

.dialog-pictures:hover{
    background-color: rgb(190, 190, 190);
    transition: 0.5s;
}

.dialog-pictures p{
  font-family: 'Poppins', sans-serif; 
  font-size: 1.2rem;
}

.selected-image {
    width: 100%; 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    border: 1px solid gray; 
  }

.selected-image img{
  max-width: 100%;
  max-height: 100%;
}



.address-info{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 35%;
}

.address-info p{
  font-size: 15px;
}

.row-map-address{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  height: 600px;
  width: 100%;
}

.map-container{
  width: 96%;
  height: 50%;
  margin: 2%;

}

.city-street{
  display: flex;
  flex-direction: column;
  width: 96%;
  margin: 2%;
}

.city-street p{
  font-size: 12px;
  color: #002f56;
  font-family: 'Poppins', sans-serif;
}

.create-button{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.create-button p{
  height: auto;
  font-size: 30px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  padding: 20px;
  background-color: rgb(224, 62, 62);
  color: white;
  border-radius: 15px;
  transition: background-color 0.4s ease-in-out;
  margin-right: 10%;
  margin-bottom: 3%;
  margin-left: 0;
  margin-top: 0;
}

.create-button p:hover{
  background-image: none;
  background-color: rgb(136, 11, 11);
  cursor: pointer;
}
