<div class="full-page-bg">
  <div class="page-content">
    <p>{{ title }}</p>
    <form [formGroup]="eventForm" class="input-form">
      <div class="text-info">
        <div
          class="form__group field"
          [ngClass]="{ 'has-error': isControlInvalid('type') }"
        >
          <select
            formControlName="type"
            type="input"
            class="form__field"
            placeholder="Unesite vrstu događaja ovde"
            name="type"
            id="type"
            required
          >
            <option value=""></option>
            <option value="0">Akademske konferencije i seminari</option>
            <option value="1">Radionice i kursevi</option>
            <option value="2">Kultorološki događaj</option>
            <option value="3">Sajamski događaj</option>
            <option value="4">Humanitarni događaj</option>
            <option value="5">Umetničke izložbe i predstave</option>
            <option value="6">Studentske žurke i društveni događaji</option>
            <option value="7">Takmičenja</option>
            <option value="8">Studentska putovanja</option>
            <option value="9">Drugo</option>
          </select>
          <label for="type" class="form__label">Vrsta događaja:</label>
          <div *ngIf="isControlInvalid('type')" class="error-message">
            Vrsta događaja je obavezna!
          </div>
        </div>
        <xp-input
          style="width: 95%"
          [control]="eventForm.controls.name"
          inputType="text"
          inputId="naziv"
          label="Naziv događaja"
          placeholderSentence="Unesite ime događaja ovde"
          [customErrorMessages]="{
            required: 'Naziv događaja je obavezan!',
            minlength: 'Naziv mora imati najmanje 3 karaktera',
            maxlength: 'Naziv može imati najviše 50 karaktera'
          }"
        >
        </xp-input>
        <div
          class="description__group field"
          [ngClass]="{ 'has-error': isControlInvalid('description') }"
        >
          <textarea
            formControlName="description"
            type="input"
            class="description__field"
            placeholder="Unesite opis događaja ovde"
            name="description"
            id="description"
            required
            #descriptionTextarea
          ></textarea>
          <label for="description" class="description__label"
            >Opis događaja:</label
          >
          <i
            class="bi bi-emoji-heart-eyes-fill emoji-picker"
            tabindex="0"
            (click)="toggleEmojiPicker()"
          ></i>
          <div class="emoji-mart" *ngIf="showEmojiPicker">
            <emoji-mart (emojiClick)="addEmoji($event)"></emoji-mart>
          </div>
          <div *ngIf="isControlInvalid('description')" class="error-message">
            Opis događaja je obavezan!
          </div>
        </div>
        <xp-input
          *ngIf="eventForm.get('type')?.value !== '8'"
          style="width: 95%"
          [control]="eventForm.controls.date"
          inputType="datetime-local"
          inputId="date"
          label="Izaberite datum početka događaja"
          placeholderSentence="Unesi datum ovde"
          [customErrorMessages]="{ required: 'Datum događaja je obavezan!' }"
        >
        </xp-input>
        <xp-input
          *ngIf="eventForm.get('type')?.value === '8'"
          style="width: 95%"
          [control]="eventForm.controls.date"
          inputType="datetime-local"
          inputId="date"
          label="Izaberite datum polaska"
          placeholderSentence="Unesi datum ovde"
          [customErrorMessages]="{ required: 'Datum događaja je obavezan!' }"
        >
        </xp-input>
      </div>

      <div class="separator"></div>

      <div class="address-info">
        <p *ngIf="eventForm.get('type')?.value !== '8'">
          Izaberi na mapi adresu događaja:
        </p>
        <p *ngIf="eventForm.get('type')?.value === '8'">
          Izaberite na mapi adresu za mjesto polaska:
        </p>
        <div class="row-map-address">
          <div class="map-container">
            <xp-map class="map" [mapId]="'address_createmap'"></xp-map>
            <div *ngIf="latitude == 0 && notMarker" class="error-message">
              Morate označiti marker na mapi klikom!
            </div>
          </div>

          <div class="city-street">
            <xp-input
              style="width: 95%; margin-left: 3%"
              [control]="eventForm.controls.city"
              inputType="text"
              inputId="city"
              label="Grad:"
              placeholderSentence="Unesi grad ovde"
              [customErrorMessages]="{ required: 'Grad je obavezan!' }"
            >
            </xp-input>
            <xp-input
              style="width: 95%; margin-left: 3%"
              [control]="eventForm.controls.street"
              inputType="text"
              inputId="street"
              label="Ulica:"
              placeholderSentence="Unesi ulicu ovde"
              [customErrorMessages]="{ required: 'Ulica je obavezna!' }"
            >
            </xp-input>
            <p>Ulicu i grad možete ručno uneti ukoliko niste zadovoljni.</p>
          </div>
        </div>
      </div>

      <div class="separator"></div>

      <div class="pictures">
        <div class="container-pictures">
          <div class="dialog-pictures" (click)="fileInput.click()">
            <p class="add-pictures" *ngIf="!selectedImage">
              <i
                class="bi bi-file-earmark-image-fill"
                style="margin-right: 4px"
              ></i
              >Dodaj fotografiju
            </p>
            <input
              type="file"
              #fileInput
              (change)="onFileSelected($event)"
              style="display: none"
            />
            <div *ngIf="selectedImage" class="selected-image">
              <img [src]="selectedImage" alt="Selected Image" class="preview" />
            </div>
          </div>
          <div
            *ngIf="notPicture && event.image == ''"
            class="error-message"
            style="margin-left: 5px"
          >
            Morate izabrati fotografiju za događaj!
          </div>
        </div>
        <div class="create-button">
          <xp-primary-button
            *ngIf="!isEditMode"
            (click)="createEvent()"
            style="width: 90%"
            buttonId="filter-button"
            buttonType="button"
            textValue="Kreiraj događaj"
          >
          </xp-primary-button>
          <xp-primary-button
            *ngIf="isEditMode"
            (click)="updateEvent()"
            style="width: 90%"
            buttonId="filter-button"
            buttonType="button"
            textValue="Izmeni događaj"
          >
          </xp-primary-button>
        </div>
      </div>
    </form>
  </div>
</div>
