<div class="full-page-bg">
    <div class="navbar-content">
        <xp-navbar></xp-navbar>
    </div>
    <div class="create-event" *ngIf="!overview">
        <div class="create-event-form">
            <form [formGroup]="eventForm" class="input-form">
                <div class="text-info">
                    <div class="form__group field">
                        <select formControlName="type" type="input" class="form__field" placeholder="Vrsta" name="type" id='type' required  >
                            <option value="" selected disabled hidden></option>
                            <option value="1">Sajamski događaj</option>
                            <option value="2">Humanitarni događaj</option>
                            <option value="3">Umjetnicki događaj</option>
                            <option value="4">Studentske zabave</option>
                            <option value="5">Studentska putovanja</option>
                        </select>
                        <label for="type" class="form__label">Vrsta događaja:</label>
                    </div>
                    <div class="form__group field">
                        <input formControlName="name" type="input" class="form__field" placeholder="Naziv" name="name" id='name' required />
                        <label for="name" class="form__label">Naziv događaja:</label>
                    </div>

                    <div class="form__group field">
                        <textarea formControlName="description" type="input" class="description__field" placeholder="Opis" name="description" id='description' required ></textarea>
                        <label for="description" class="form__label">Opis događaja:</label>
                    </div>

                    <div class="form__group field">
                        <input formControlName="address" type="input" class="form__field" placeholder="Adresa" name="address" id='address' required />
                        <label for="address" class="form__label">Adresa događaja:</label>
                    </div>

                    <div class="form__group field">
                        <input formControlName="date" type="date" class="form__field" placeholder="Datum" name="date" id='date' required />
                        <label for="date" class="form__label">Izaberi datum događaja:</label>
                    </div>

                </div>
                <div class="separator"></div>
                <div class="pictures">
                    <div class="container-pictures">
                      <div class="dialog-pictures" (click)="fileInput.click()">
                        <p class="add-pictures" *ngIf="!selectedImage"><i class="bi bi-file-earmark-image-fill" style="margin-right: 4px;"></i>Dodaj fotografije</p>
                        <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;" />
                        <div *ngIf="selectedImage" class="selected-image">
                            <img [src]="selectedImage" alt="Selected Image" class="preview" />
                        </div>

                      </div>
                    </div>
                    <div class="buttons"><button class="next-btn" (click)="viewOverview()">Nastavi</button></div>
                  </div>
            

            </form>

        </div>
    </div>

    <div class="overview-event" *ngIf="overview">
        <div class="overview-event-container">
            <div class="userpost">
                <img src="../../../../assets/images/profile-pic.jpg" alt="no picture">
                <div class="nameanddate">
                    <p>{{user.username}}</p>
                    <h6>Datum objavljivanja: {{eventForm.value.date}}</h6>
                </div>
            </div>
            <div class="content-post">
                <p>{{eventForm.value.description}}</p>
                <img [src]="selectedImage" alt="no picture">
            </div>

        </div>

    </div>
    
</div>
